<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://css.gg/css?=|ereader|mail|twitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>حول </title>
  <div class="image">
    <div class="logo">
      <a href="index.html"><img src="static/logo.svg"></a>
    </div>
    <nav>
      <ul>
        <li><a href="index.html">الرئيسية</a></li>
        <li><a href="universities.html">الجامعات</a></li>
        <li><a href="gpa.html">حساب المعدل</a></li>
        <li style="margin-right: 25%;"><a class="active" href="about.html">حول</a></li>
      </ul>
    </nav>
    <h1 id="title">لماذا تم انـشـاء هذا <br /> الموقع؟</h1>
  </div>
</head>
<body>
  <hr class="home-hr"/>
  <div class="about-div">
    كثير من الطلبة المقبلين على التخرج من الثانوية العامة قد لا يكون لديهم تصوّر بالجامعات والكليات والتخصصات المتاحة والغير متاحة في مختلف مناطق المملكة العربية السعودية. <br />
    لذلك تم بناء هذا الموقع وضم فيه حوالي عشر جامعات في مختلف مناطق المملكة، كلها في مكان واحد حتى يسهل على الطلبة الوصول لها.<br />
  </div>
  <div class="about-div">
    فالهدف الاساسي من هذا الموقع هو اعطاء صورة واطلّاع كامل عن الجامعات في السعودية، ايضًا مساعدة الطلبة في اتخاذ القرار المناسب بالتخصص المرغوب.
  </div>
  <div class="about-div">
    اهم ما يحتويه الموقع هو قائمة بأغلب الجامعات السعودية الحكومية والتي يمكن الالتحاق بها بشكل مجاني للطلبة السعوديين. <br />
    وكل جامعة تتبعها التفاصيل الخاصة بها من الكليات والأقسام المتاحة ونسب القبول في السنوات الأخيرة. <br />
    كما يمكنك ايضًا حساب النسبة الموزونة حسب كل جامعة.
  </div>
  <div class="about-div">
    للتواصل:
    <p style="text-align: left; direction: ltr;"><i  class="gg-mail"></i>example@domain.com <i class="gg-twitter"></i> @example </p>
  </div>
  <center>
    <hr style="margin-top: 10%; " />
    <div style="display: inline-block;">
     <span><p style="color: rgb(174, 174, 174);">Made by Nusaibah, Mashael and Amira for CS471 Project <i class="gg-ereader" style="float: right;"></i> </p></span>
   </div>
  </center>
</body>
</html>