<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة الباحة</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة الباحة</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\baha.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة الباحة</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    جامعة الباحة جامعة حكومية سعودية أنشئت في سنة  1426هـ. تسعى الجامعة إلى التميز والإبداع في مجال التعليم الجامعي والبحث
العلمي وخدمة المجتمع، وتلتزم بتوفير فرص التعليم العالي، وتهيئة المكان والمناخ المناسبين لتنمية قدرات الطلاب وبلورة شخصياتهم،
وتوفير تعليم وبحث علمي مميز يسهم في بناء مجتمع المعرفة من خلال البيئة الأكاديمية المحفزة والاستثمار الأمثل للموارد. وخ ّطت
الجامعة لنفسها مسارا تطويريا مستمرا تحكمه عدد من القيم هي الأمان والمسؤولية والشفافية والجودة وتقدير الإنجاز والعمل بروح
الفريق
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <p><b>- كلية الطب</b>
                <br><b>- كلية طب الأسنان</b>
                <br><b>- كلية الصيدلة</b>
                <br><b>- كلية العلوم الطبية التطبيقية</b>
                <br><b>- كلية الهندسة</b>
                <br><b>- كلية علوم الحاسب وتقنية المعلومات</b>
                <br><b>- كلية إدارة الأعمال</b>
                <br><b>- كلية الشريعة والقانون</b>
                <br><b>- كلية الآداب والعلوم الإنسانية</b>
                <br><b>- كلية العلوم والأداب في بلجرشي</b>
                <br><b>- كلية العلوم والآدب في المخواة</b>
                <br><b>- كلية العلوم والآداب في المندق </b>
                <br><b>- كلية العلوم والآداب في القلوة </b>

                <p><b>الأقسام:</b></p>
                <b>كلية الطب: </b>
                  <br> الطب, الجراحة.
                
                <p><b>كلية طب الأسنان: </b>
                 <br> جراحة الأسنان.
                </p>
                <p><b>كلية الصيدلة: </b>
                  <br>
                      الصيدلة الإكلينيكية. </p>
                <p><b>كلية العلوم الطبية التطبيقية: </b>
                    <br>
                    طب مختبرات, 
                    صحة مجتمع, 
                    صحة أسنان, 
                    التمريض.
                </p>

                  <p><b>كلية الهندسة: </b>
                  <br>  لعمارة, 
                  الهندسة الميكانيكية, 
                  الهندسة المدنية, 
                  الهندسة الكهربائية, 
                  هندسة الحاسبات. </p>
               
                <p><b>كلية علوم الحاسب وتقنية المعلومات: </b>
                    <br> علوم الحاسبات, 
                    تقنية المعلومات, 
                    نظم المعلومات الحاسوبية.
                </p>
                <p><b>كلية العلوم: </b>
                     <br> الرياضيات, الفيزياء, الكيمياء, الأحياء.
                </p>
                 <p><b>كلية إدارة الأعمال: </b>
                    <br> التسويق, 
                    المحاسبة, 
                    نظم المعلومات الإدارية, 
                    إدارة الأعمال, 
                    الأنظمة.
                 </p>
                <p><b>كلية الآداب والعلوم الإنسانية: </b>
                        <br> اللغة العربية, اللغة الإنجليزية.
                </p>
                <p><b>كلية العلوم والآداب في بلجرشي: </b>
                     <br> الأحياء, 
                     الكيمياء, 
                     الفيزياء, 
                     الرياضيات, 
                     الاقتصاد المنزلي - تغذية وأزياء, 
                     الدراسات الإسلامية, 
                     اللغة العربية, 
                     اللغة الإنجليزية.
                </p>
                 <p><b>كلية العلوم والآداب في المخواة:  </b>
                     <br> الرياضيات, 
                     الفيزياء, 
                     الأحياء, 
                     الكيمياء, 
                     الاقتصاد المنزلي - مسار تغذية, 
                     الدراسات الإسلامية, 
                     اللغة العربية, 
                     اللغة الإنجليزية. 
                 </p>
                <p><b>كلية العلوم والآداب في المندق: </b>
                     <br> الرياضيات, 
                     الفيزياء, 
                     الأحياء, 
                     الكيمياء, 
                     الاقتصاد المنزلي بتخصصي تصميم الأزياء والتصميم الداخلي, 
                     الدراسات الإسلامية, 
                     اللغة العربية, 
                     اللغة الإنجليزية. 
                </p>
                <p><b>كلية العلوم والآداب في قلوة: </b>
                     <br> الرياضيات, 
                     الفيزياء, 
                     الأحياء, 
                     الكيمياء, 
                     اللغة الإنجليزية.
                </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -:</p>
                <table class="table" class="t">
                  <tr>
                      <th>  الكلية</th>
                      <th>  نسبة القبول</th>
                  </tr>
                  <tr>
                      <td>كلية الطب</td>
                      <td>90.00</td>
                  </tr>
                  <tr>
                    <td> كلية طب الأسنان</td>
                    <td> 85.00</td>
                </tr>
                <tr>
                    <td>كلية الصيدلة الإكلينيكية</td>
                    <td> 80.00</td>
                </tr>
                <tr>
                    <td> كلية العلوم الطبية التطبيقية</td>
                    <td> 75.00</td>
                </tr>
                <tr>
                    <td> كلية الهندسة</td>
                    <td> 70.00</td>
                </tr>
                <tr>
                    <td> كلية علوم الحاسب وتقنية المعلومات</td>
                    <td> 70.00</td>
                </tr>
                <tr>
                    <td> كلية العلوم</td>
                    <td> 65.00</td>
                </tr>
                <tr>
                    <td> كلية إدارة الأعمال</td>
                    <td> 75.00</td>
                </tr>
                <tr>
                    <td> كلية الآداب والعلوم الإنسانية</td>
                    <td> 70.00</td>
                </tr>
                <tr>
                    <td> الكلية التطبيقية في الباحة</td>
                    <td> 70.00</td>
                </tr>
                <tr>
                    <td> الكلية التطبيقية في المخواة</td>
                    <td> 70.00</td>
                </tr>
                <tr>
                    <td>الكلية التطبيقية في بلجرشي</td>
                    <td> 70.00</td>
                </tr>
              </table>
                
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>