<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة الملك خالد</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة الملك خالد</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\kku.png">
          </div>
          <div class="home-div1">
            <h4>جامعة الملك خالد</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    في يوم الثلاثاء ٩\١\١٤١٩هـ أعلن خادم الحرمين الشريفين الملك عبدالله بن عبدالعزيز آل سعود -رحمه الله تعالى- عندما كان وليًا للعهد إنشاء جامعة الملك خالد وتشييدها بالأمر السامي رقم م/٧٨/٧ في ١١\٣\١٤١٩هــ المتضمن استكمال الإجراءات النظامية اللازمة لذلك. وبناءً عليه صدرت الميزانية الأولى للجامعة في ١٤\١\١٤١٩هـ ضمن الميزانية العامة للدولة لتنضم جامعة الملك خالد إلى منظومة الجامعات السعودية. وتقع الجامعة في منطقة عسير في الجزء الجنوبي الغربي من المملكة العربية السعودية.
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>المجمعات الأكاديمية:</b>
                <p><b>- المجمع الاكاديمي بأبها (قريقر)</b>
                <br><b>-  المجمع الأكاديمي بقرعاء </b>
                <br><b>-  المجمع الأكاديمي طريق الملك عبدالله</b>
                <br><b>- المجمع الاكاديمي بمحايل عسير   </b>
                <br><b>- المجمع الاكاديمي بلعصان </b>
                <br><b>- المجمع الأكاديمي برجال المع</b>
                <br><b>- المجمع الأكاديمي بخميس مشيط</b>
                <br><b>-  المجمع الأكاديمي بالمحالة</b>
                <br><b>- المجمع الأكاديمي بتنومة</b>
                <br><b>- المجمع الأكاديمي بظهران الجنوب</b>
                <br><b>-المجمع الأكاديمي بسراة عبيدة</b>
                <br><b>-  المجمع الأكاديمي بأحد رفيدة </b>
                <br><b>- المجمع الأكاديمي بالمجاردة</b>

                <p><b>الأقسام:</b></p>
                <b>المجمع الاكاديمي بأبها (قريقر) </b>
                  <br> <u>الشريعة و أصول الدين:</u>
                  <br /> قسم القرآن وعلومه،
                  قسم السنة وعلومها،
                  قسم العقيدة والمذاهب المعاصرة،
                  قسم الفقه،
                  قسم أصول الفقه
                  
                  <br> <u>علوم الحاسب الآلي :</u>
                  <br /> قسم علوم الحاسب،
                  قسم أنظمة المعلومات،
                  قسم هندسة الحاسب،
                  قسم شبكات الحاسب

                  <br /> <u>العلوم:</u>
                  <br /> قسم الفيزياء،
                  قسم الاحياء،
                  قسم الرياضيات،
                  قسم الكيمياء

                  <br /> <u>الطب:</u>
                  <br />  قسم التشريح،
                  قسم علم وظائف الأعضاء،
                  قسم الكيمياء الحوية الإكلينكية، 
                  قسم الكائنات الدقيقة والطفيليات، 
                  قسم علم الأمراض،
                  قسم الطب الباطني، 
                  قسم الجراحة، 
                  قسم أمراض النساء والولادة، 
                  قسم صحة الطفل،
                  قسم طب الأسرة والمجتمع، 
                  قسم التعليم الطبي 
                  
                  <br /> <u>طب الأسنان:</u>
                  <br />قسم جراحة الوجه والفكين وعلوم التشخيص، 
                  قسم الاستعاضة السنية،
                  قسم طب الأسنان، 
                  قسم وقاية الأسنان، 
                  قسم التعليم الطبي للأسنان 

                  <br /> <u>الصيدلة:</u>
                  <br />قسم الصيدلانيات، 
                  قسم الصيدلة السريرية،
                  قسم علم الأدوية، 
                  قسم العقاقير، 
                  قسم الكيمياء الصيدلية  

                  <br /> <u>الهندسة:</u>
                  <br />قسم الهندسة الميكانيكية،
                  قسم الهندسة المدنية،
                  قسم الهندسة الكهربائية،
                  قسم الهندسة الصناعية،
                  قسم الهندسة الكيميائية
                  
                  <br /> <u>العلوم الطبية التطبيقية:</u>
                  <br />قسم طب إشعاعي،
                  قسم أمراض تخاطب، 
                  قسم علوم السمع، 
                  قسم التأهيل الطبي، 
                  قسم المختبرات السريرية،
                  قسم العلوم الطبية الأساسية،
                  قسم الخدمات الطبية الطارئة،
                  قسم تقنية الأسنان،
                  قسم الصحة العامة،
                  قسم تقنية التخدير،
                  قسم التمريض العام،
                  قسم العلاج التنفسي 
                  
                  <br /> <u>اللغات والترجمة:</u>
                  <br />قسم اللغة الانجليزية
                  
                  <br /><b>المجمع الاكاديمي بقرعاء </b>
                  <br> <u> التربية :</u>
                  <br /> 
                  قسم التربية الخاصة،
                  قسم تقنيات التعليم،
                  قسم رياض الأطفال،
                  قسم علم النفس،
                  قسم التربية،
                  قسم المناهج و طرق التدريس،
                  قسم الإدارة والإشراف التربوي
                  
                  <br /> <u>العلوم الإنسانية:</u>
                  <br /> قسم اللغة العربية وآدابها،
                  قسم التاريخ،
                  قسم الجغرافيا،
                  قسم الإعلام والاتصال
                  
                  <br /> <u>الأعمال:</u>
                  <br />إدارة الاعمال،
                  المحاسبة،
                  التسويق والتجارة الالكترونية،
                  نظم المعلومات الإدارية،
                  القانون
                  
                  <br /><b>المجمع الأكاديمي طريق الملك عبدالله</b>
                  <br /><u>الكلية التطبيقية للطالبات فرع أبها:</u>
                  <br />قسم المقررات العامة،
                  قسم العلوم الإدارية وتقنياتها، 
                  قسم علوم الحاسب
                  
                  <br /><u>الاقتصاد المنزلي:</u>
                  <br />قسم الاقتصاد المنزلي،
                  قسم تصميم الأزياء

                  <br /><u>التمريض:</u>
                  <br />قسم اداره و تعليم التمريض،
                  قسم الرعاية التمريضية الأساسية،
                  قسم الرعاية التمريضية للمجتمع و الصحة النفسية و العقلية،
                  قسم تمريض الامومة و الطفولة،
                  قسم تمريض رعاية البالغين و الرعاية التمريضية المتقدمة
                  
                  <br /><b>المجمع الأكاديمي بمحايل عسير:</b>
                  <br /><u>العلوم والآداب:</u>
                  <br />قسم الاقتصاد المنزلي،
                  قسم اللغة الإنجليزية،
                  قسم الرياضيات،
                  قسم الفيزياء،
                  قسم نظم المعلومات،
                  قسم علوم الحاسب،
                  قسم اللغة العربية،
                  قسم الكيمياء،
                  قسم الأحياء،
                  قسم إدارة الأعمال،
                  قسم الدراسات الاسلامية
                  
                  <br /><u>العلوم الطبية التطبيقية:</u>
                  <br />التمريض العام

                  <br /><b>المجمع الأكاديمي بلعصان</b>
                  <br /><u>التمريض بخميس مشيط:</u>
                  <br />قسم التمريض الباطني والجراحي،
                  قسم تمريض الرعاية الأساسية،
                  قسم تمريض صحة المجتمع والصحة النفسية والعقلية
                  
                  <br /><u>العلوم الطبية التطبيقية بخميس مشيط:</u>
                  <br />قسم الخدمات الطبية الطارئة،
                  قسم الصحة العامة،
                  قسم العلوم الطبية الأساسية،
                  قسم تقنية الاسنان،
                  قسم تقنية التخدير
                  
                  <br /><b>المجمع الأكاديمي برجال المع</b>
                  <br /><u>الكلية التطبيقية للطالبات فرع رجال المع:</u>
                  <br />قسم نظم المعلومات،
                  قسم المحاسبة

                  <br /><u>العلوم والآداب:</u>
                  <br />قسم علوم الحاسب،
                  قسم نظم المعلومات،
                  قسم اللغة الانجليزية
                  
                  <br /><b>المجمع الأكاديمي بخميس مشيط</b>
                  <br /><u>العلوم والآداب:</u>
                  <br /> 
                  قسم الدراسات الاسلامية،
                  قسم اللغة العربية،
                  قسم علوم الحاسب،
                  قسم نظم المعلومات،
                  قسم اللغة الإنجليزية

                  <br /><b>المجمع الأكاديمي  بالمحالة</b>
                  <br /><u>الكلية التطبيقية :</u>
                  <br /> 
                  قسم علوم الحاسب الآلي- برنامج نظم المعلومات،
                قسم العلوم الإدارية و تقنياتها - برنامج إدارة الأعمال،
                قسم العلوم الإدارية و تقنياتها- برنامج المحاسبة

                <br /><b>المجمع الأكاديمي  بتنومة</b>
                <br /><u>العلوم والآداب:</u>
                <br /> 
                قسم الحاسب الآلي،
                قسم اللغة الإنجليزية،
                قسم التمويل

                <br /><b>المجمع الأكاديمي  بظهران الجنوب</b>
                <br /><u>العلوم والآداب:</u>
                <br /> 
                قسم الدراسات الإسلامية،
                قسم اللغة العربية،
                قسم اللغة الإنجليزية،
                قسم الفيزياء،
                قسم الأحياء،
                قسم علوم الحاسب،
                قسم إدارة الأعمال

                <br /><b>المجمع الأكاديمي  بسراة عبيدة</b>
                <br /><u>العلوم والآداب:</u>
                <br /> قسم اللغة العربية،
                قسم إدارة الأعمال،
                قسم الدراسات الإسلامية،
                قسم الرياضيات،
                قسم الكيمياء،
                قسم علوم الحاسب
                
                <br /><b>المجمع الأكاديمي  بأحد رفيدة </b>
                <br /><u>العلوم والآداب:</u>
                <br /> قسم اللغة الإنجليزية، 
                قسم علوم الحاسب الالي،
                قسم الرياضيات
                
                <br /><b>المجمع الأكاديمي  بالمجاردة  </b>
                <br /><u>العلوم والآداب:</u>
                <br /> قسم اللغة الإنجليزية، 
                قسم علوم الحاسب الالي،
                قسم الرياضيات                
                </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -:</p>
                <b>طالبات</b>
                <table class="table" class="t">
                  <tr>
                      <th>  القسم</th>
                      <th>  نسبة القبول</th>
                  </tr>
                  <tr>
                      <th>مقر جامعة الملك خالد أبها </th>
                  </tr>
                  <tr>
                    <td> علوم الحاسب  </td>
                    <td> 85.91</td>
                </tr>
                <tr>
                    <td>نظم المعلومات  </td>
                    <td> 86.48</td>
                </tr>
                <tr>
                    <td> علوم المختبرات الطبية   </td>
                    <td> 89.00</td>
                </tr>
                <tr>
                    <td> التمريض </td>
                    <td> 89.23</td>
                </tr>
                <tr>
                    <td> علاج طبيعي</td>
                    <td> 90.38</td>
                </tr>
                <tr>
                    <td> أشعة تشخيصية </td>
                    <td> 90.63</td>
                </tr>
                <tr>
                    <td> دكتور صيدلي  </td>
                    <td>92.34</td>
                </tr>
                <tr>
                    <td>   طب وجراحة الفم والأسنان </td>
                    <td> 93.7</td>
                </tr>
                <tr>
                    <td> الفيزياء</td>
                    <td> 80.79</td>
                </tr>
                <tr>
                    <td>الرياضيات</td>
                    <td> 80.83</td>
                </tr>
                <tr>
                    <td>الكيمياء </td>
                    <td> 81.66</td>
                </tr>
                <tr>
                  <td>الأحياء </td>
                  <td> 83.56</td>
                </tr>
                <tr>
                  <td>الإعلام والاتصال </td>
                  <td> 86.13</td>
                </tr>
                <tr>
                  <td>الإعلام والاتصال </td>
                  <td> 86.13</td>
                </tr>
                <tr>
                  <td> تمريض عام </td>
                  <td> 82.12</td>
                </tr>
                <tr>
                  <th> مجمع العلوم بخميس مشيط </th>
                </tr>
                <tr>
                  <td> الصحة العامة </td>
                  <td> 88.07</td>
                </tr>
                <tr>
                  <td> هندسة صناعية </td>
                  <td> 91.89</td>
                </tr>
                <tr>
                  <td> علوم التمريض  </td>
                  <td> 86.67</td>
                </tr>
                <tr>
                  <th> العلوم والآداب بالخميس     </th>
                </tr>
                <tr>
                  <td> اللغة الإنجليزية</td>
                  <td> 74.94</td>
                </tr>
                <tr>
                  <td> اللغة العربية</td>
                  <td> 78.59</td>
                </tr>
                <tr>
                  <td> الدراسات الاسلامية</td>
                  <td> 79.40</td>
                </tr>
                <tr>
                  <td> علوم الحاسب </td>
                  <td> 83.89 </td>
                </tr>
                <tr>
                  <td>نظم المعلومات</td>
                  <td>84.43 </td>
                </tr>
                <tr>
                  <td>الاقتصاد المنزلي</td>
                  <td>83.23</td>                
                </tr>
                <tr>
                  <td>تصميم أزياء </td>
                  <td>85.20</td>                
                </tr>
                <tr>
                  <td> المحاسبة</td>
                  <td>87.45</td>                
                </tr>
                <tr>
                  <td>إدارة الاعمال</td>
                  <td>89.47</td>                
                </tr>
                <tr>
                  <td> القانون</td>
                  <td>91.98</td>                
                </tr>
                <tr>
                  <th>مجمع الطالبات بأحد رفيدة</th>
                </tr>
                <tr>
                  <td>اللغة الانجليزية</td>
                  <td>74.20</td>
                </tr>
                <tr>
                  <td>الرياضيات</td>
                  <td>79.15</td>
                </tr>
                <tr>
                  <td>علوم الحاسب</td>
                  <td>82.44</td>
                </tr>
                <tr>
                  <th>مجمع الطالبات بالمجاردة</th>
                </tr>
                <tr>
                  <td>اللغة الانجليزية</td>
                  <td>70.01</td>
                </tr>
                <tr>
                  <td> الرياضيات</td>
                  <td>74.02</td>
                </tr>
                <tr>
                  <td> علوم الحاسب</td>
                  <td>74.94</td>
                </tr>
                <tr>
                  <th>مجمع الطالبات برجال ألمع</th>
                </tr>
                <tr>
                  <td>اللغة الانجليزية</td>
                  <td>70.36</td>
                </tr>
                <tr>
                  <td>الرياضيات</td>
                  <td>74.51</td>
                </tr>
                <tr>
                  <td>نظم المعلومات</td>
                  <td>75.04</td>
                </tr>
              </table>
                
              <b>طالبات وطلاب</b>
                <table class="table" class="t">
                  <tr>
                      <th>  القسم</th>
                      <th>  نسبة القبول</th>
                  </tr>
                  <tr>
                      <th>المجمع الأكاديمي بتنومه </th>
                  </tr>
                  <tr>
                    <td> علوم الحاسب  </td>
                    <td> 72.08</td>
                </tr>
                <tr>
                    <td> اللغة الانجليزية </td>
                    <td> 76.92 </td>
                </tr>
                <tr>
                    <td> التمويل </td>
                    <td> 78.29</td>
                </tr>
                <tr>
                    <td> الجغرافيا </td>
                    <td> 80.28</td>
                </tr>
                <tr>
                    <td> اللغة العربية </td>
                    <td> 80.39</td>
                </tr>
                <tr>
                    <td>  التاريخ </td>
                    <td> 80.84</td>
                </tr>
                <tr>
                    <td> أصول الدين   </td>
                    <td>81.82</td>
                </tr>
                <tr>
                    <td>الشريعة الاسلامية</td>
                    <td> 83.57</td>
                </tr>
                <tr>
                    <td> علم النفس</td>
                    <td>  86.70</td>
                </tr>
                <tr>
                    <th>المجمع الأكاديمي محايل</th>
                </tr>
                <tr>
                    <td>الاقتصاد المنزلي(طالبات) </td>
                    <td> 74.58</td>
                </tr>
                <tr>
                  <td>الفيزياء </td>
                  <td> 74.99</td>
                </tr>
                <tr>
                  <td> الرياضيات </td>
                  <td> 75.46</td>
                </tr>
                <tr>
                  <td> الكيمياء </td>
                  <td> 76.33</td>
                </tr>
                <tr>
                  <td> اللغة الانجليزية </td>
                  <td> 77.33</td>
                </tr>
                <tr>
                  <td>علوم الحاسب</td>
                  <td>78.11</td>
                </tr>
                <tr>
                  <td>اللغة العربية</td>
                  <td>79.12</td>
                </tr>
                <tr>
                  <td>نظم المعلومات</td>
                  <td>79.30</td>
                </tr>
                <tr>
                  <td>الأحياء</td>
                  <td>79.48</td>
                </tr>
                <tr>
                  <td>الدراسات الاسلامية</td>
                  <td>80.90</td>
                </tr>
                <tr>
                  <td>أدارة اعمال</td>
                  <td>84.38</td>
                </tr>
              </table>

              <b> طلاب</b>
                <table class="table" class="t">
                  <tr>
                      <th>  القسم</th>
                      <th>  نسبة القبول</th>
                  </tr>
                  <tr>
                      <th>المدينة الجامعية بالمحالة  </th>
                  </tr>
                  <tr>
                    <td> نظم المعلومات  </td>
                    <td> 80.53</td>
                </tr>
                <tr>
                    <td> علوم الحاسب </td>
                    <td> 81.06 </td>
                </tr>
                <tr>
                    <td> هندسة الحاسب </td>
                    <td> 83.03</td>
                </tr>
                <tr>
                    <td> هندسة كيميائية </td>
                    <td> 84.09</td>
                </tr>
                <tr>
                    <td> هندسة مدنية </td>
                    <td> 84.31</td>
                </tr>
                <tr>
                    <td>  الصحة العامة </td>
                    <td> 85.92</td>
                </tr>
                <tr>
                    <td> هندسة صناعية   </td>
                    <td>84.68</td>
                </tr>
                <tr>
                    <td> علوم مختبرات طبية</td>
                    <td> 84.77</td>
                </tr>
                <tr>
                    <td> تقنية اسنان</td>
                    <td>  86.96</td>
                </tr>
                <tr>
                    <td> علاج طبيعي </td>
                    <td> 84.80</td>
                </tr>
                <tr>
                    <td>  أشعة تشخيصية </td>
                    <td> 85.27</td>
                </tr>
                <tr>
                    <td> علوم التمريض   </td>
                    <td>86.17</td>
                </tr>
                <tr>
                    <td>   هندسة ميكانيكية</td>
                    <td> 85.73</td>
                </tr>
                <tr>
                    <td> هندسة كهربائية</td>
                    <td>  86.40</td>
                </tr>
                <tr>
                    <td> تقنية التخدير </td>
                    <td> 89.65</td>
                </tr>
                <tr>
                    <td>  الخدمات الطبية الطارئة </td>
                    <td> 89.78</td>
                </tr>
                <tr>
                    <td> دكتور صيدلي    </td>
                    <td>90.70</td>
                </tr>
                <tr>
                    <td>طب وجراحة الفم والأسنان</td>
                    <td> 93.66</td>
                </tr>
                <tr>
                    <td> طب وجراحة </td>
                    <td>  94.75</td>
                </tr>
                <tr>
                    <th>المدينة الجامعية بأبها </th>
                </tr>
                <tr>
                    <td>الفيزياء </td>
                    <td> 72.84</td>
                </tr>
                <tr>
                  <td>الرياضيات </td>
                  <td> 73.93</td>
                </tr>
                <tr>
                  <td> الكيمياء</td>
                  <td> 74.03</td>
                </tr>
                <tr>
                  <td> الاحياء </td>
                  <td> 75.51</td>
                </tr>
                <tr>
                  <td> اللغة الانجليزية </td>
                  <td> 70.05</td>
                </tr>
                <tr>
                  <td>الجغرافيا </td>
                  <td>78.06</td>
                </tr>
                <tr>
                  <td> التاريخ</td>
                  <td>78.56</td>
                </tr>
                <tr>
                  <td>نظم المعلومات الإدارية</td>
                  <td>78.46</td>
                </tr>
                <tr>
                  <td>اللغة العرية</td>
                  <td>79.40</td>
                </tr>
                <tr>
                  <td>أصول الدين </td>
                  <td>80.94</td>
                </tr>
                <tr>
                  <td> العمارة</td>
                  <td>82.96</td>
                </tr>
                <tr>
                  <td> المحاسبة</td>
                  <td> 83.25</td>
                </tr>
                <tr>
                  <td> الإعلام والاتصال </td>
                  <td> 82.95</td>
                </tr>
                <tr>
                  <td> التسويق والتجارة الإلكترونية  </td>
                  <td> 82.95</td>
                </tr>
                <tr>
                  <td>علم النفس </td>
                  <td>84.95</td>
                </tr>
                <tr>
                  <td> إدارة الأعمال/التمويل</td>
                  <td>83.94</td>
                </tr>
                <tr>
                  <td>إدارة اعمال</td>
                  <td>84.05</td>
                </tr>
                <tr>
                  <td> الشريعة</td>
                  <td>83.96</td>
                </tr>
                <tr>
                  <td> إدارة الأعمال/الموارد البشرية </td>
                  <td>85.27</td>
                </tr>
                <tr>
                  <td> القانون</td>
                  <td>90.11</td>
                </tr>
              </table>
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>