<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة الامام عبدالرحمن بن فيصل </title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة الإمام  <br />عبدالرحمن بن فيصل</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\east.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة الإمام عبدالرحمن بن فيصل</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>انطلقت الجامعة باسمها الجديد (جامعة الإمام عبدالرحمن بن فيصل) حاملة إرثا أكاديميا وبحثيا يمتد إلى أربعة
                  عقود؛ حيث استقبلت بعض كلياتها أول دفع من طلابها عام  1395هـ (1975م) عند بداية مسيرة الجامعة. وقد كان
                  لكلية الطب، والعلوم الطبية، وكلية العمارة والتخطيط دور رائد في مجال الدراسات العليا على مستوى المملكة ودول
                  الخليج. ومع استمرار التوسع في عدد الكليات، وانضمام معظم الكليات بالمنطقة الشرقية - الدمام، أصبح بها عدد21
                  كلية، موزعة على أكبر مساحة جغرافية في المملكة، وبها أكثر من  45الف طالب وطالبة. وجامعة الإمام
                  عبدالرحمن بن فيصل عاقدة العزم على تطوير مناهجها ومقرراتها، وتحديثها، وتوفير البيئة الأكاديمية للنهوض
                  بمختلف مجالات العلم والمعرفة، وإجراء الدراسات والبحوث العلمية الهادفة المرتبطة بمشاكل البيئة والمجتمع</p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <p><b>- الكليات الصحية</b>
                  <br>• كلية الطب
                  • كلية طب الأسنان
                  • كلية التمريض
                  • كلية العلوم الطبية التطبيقية
                  • كلية الصيدلة الإكلينيكية
                  • كلية الصحة العامة
                  • كلية العلوم الطبية التطبيقية - الجبيل
                  <br><b>- الكليات الهندسية</b>
                  <br>• كلية العمارة والتخطيط
                  • كلية التصاميم
                  • كلية الهندسة
                  <br><b>- كليات العلوم و الإدارة</b>
                  <br>• كلية الدراسات التطبيقية و خدمة المجتمع
                  • كلية إدارة الأعمال
                  • كلية علوم الحاسب و تقنية المعلومات
                  • كلية العلوم
                  • الكلية التطبيقية
                  <br><b>- كليات الآداب و التربية</b>
                  <br>• كلية الآداب
                  • كلية التربية
                  • كلية العلوم والدراسات الإنسانية - الجبيل
                  • كلية الشريعة والقانون 
                  <p><b>الأقسام:</b></p>
                  <b>الصحية:</b>
                  <br>كلية الطب:
                  قسم التخدير, 
                  قسم الأمراض الجلدية, 
                  قسم الأذن و الأنف و الحنجرة, 
                  قسم طب الطوارئ, 
                  قسم الطب الباطني, 
                  قسم طب الأعصاب, 
                  قسم جراحة المخ و الأعصاب, 
                  قسم أمراض النساء والولادة, 
                  قسم العيون, 
                  قسم جراحة العظام, 
                  قسم طب الأطفال, 
                  قسم الطب النفسي, 
                  قسم الأشعة, 
                  قسم الجراحة, 
                  قسم جراحة المسالك البولية, 
                  قسم التشريح, 
                  قسم طب الأسرة و المجتمع, 
                  قسم علم الأمراض, 
                  قسم علم وظائف الأعضاء, 
                 قسم التعليم الطبي.
                  <br>كلية طب الأسنان:
                  قسم علوم الأسنان الطبية والحيويةقسم علوم الأسنان الوقائية
                  قسم علوم الأسنان الإصلاحية
                  قسم علوم الأسنان الاستعاضية
                  قسم تعليم طب الأسنان
                 <br> كلية التمريض:
                  قسم أساسيات التمريض
                  قسم تمريض صحة المجتمع
                  قسم تعليم التمريض
                  <br>كلية العلوم الطبية التطبيقية:
                  قسم علوم المختبرات الإكلينيكية
                  قسم الرعاية التنفسية
                  قسم العلاج الطبيعي
                  قسم تقنية القلب
                  قسم العلوم الإشعاعية
                  قسم التغذية العلاجية
                  قسم الرعاية الطبية الطارئة
                  <br>كلية الصيدلة الإكلينيكية:
                  قسم الممارسة الصيدلية
                  قسم الصيدلانيات
                  قسم الكيمياء الصيدلية
                  قسم علم الأدوية والسموم
                  قسم النواتج الطبيعية والطب البديل (العقاقير)كلية الصحة العامة
                  قسم إدارة وتقنية المعلومات الصحية
                  قسم صحة البيئة
                  قسم الصحة العامة
                 <br> كلية العلوم الطبية التطبيقية - الجبيل.
                  <p><b>الهندسية:</b>
                 <br> كلية العمارة والتخطيط:
                  قسم العمارة, 
                  قسم التخطيط الحضري و الإقليمي, 
                  قسم هندسة المباني, 
                  قسم عمارة البيئة, 
                  قسم العمارة الداخلية, 
                  <br>كلية التصاميم: 
                  التصميم الداخلي, 
                  تصميم المطبوعات والوسائط المتعددة, 
                  التصميم الصناعي, 
                  <br>كلية الهندسة: 
                  الهندسة الطبية الحيوية, 
                  الهندسة المدنية والتشييد, 
                  الهندسة البيئية, 
                  قسم هندسة النقل و المرورالهندسة الميكانيكية والطاقة, 
                  قسم العلوم الهندسية الاساسية.</p>
                  <p><b>العلوم والإدارة:</b>
                  <br>كلية الدراسات التطبيقية وخدمة المجتمع: 
                  قسم المحاسبة, 
                  قسم الإدارة المالية, 
                  قسم التسويق, 
                  قسم إدارة الأعمال, 
                  قسم نظم المعلومات الإدارية.
                  <br>كلية إدارة الأعمال: 
                  قسم المحاسبة: 
                  قسم العلوم المالية والمصرفية, 
                  قسم نظم المعلومات الإدارية.
                  <br>كلية علوم الحاسب و تقنية المعلومات:
                  قسم علوم الحاسب, 
                  قسم نظم المعلومات, 
                  قسم هندسة الحاسب, 
                  قسم الشبكات والاتصالات.
                  <br>كلية العلوم: 
                  قسم الرياضيات, 
                  قسم الكيمياء, قسم الفيزياء, 
                  قسم علم الأحياء, 
                  <br>الكلية التطبيقية: 
                  قسم الحاسب الآلي, 
                  قسم العلوم الإدارية, 
                  قسم العلوم المالية. </p>
                  <p><b>الآداب والتربية:</b>
                  <br>كلية الآداب: 
                  قسم الدراسات الإسلامية, 
                  قسم اللغة العربية, 
                  قسم اللغة الإنجليزية, 
                  قسم التاريخ, 
                  قسم الجغرافيا ونظم المعلومات الجغرافية, 
                  قسم علم المعلومات, 
                  قسم علم الاجتماع والخدمة الاجتماعية, 
                  قسم الاتصال وتقنية الإعلام.
                  <br>كلية التربية: 
                  قسم المناهج وطرق التدريس, 
                  قسم الإدارة التربوية, 
                  قسم تقنيات التعليم, 
                  قسم أصول التربية, 
                  قسم الطفولة المبكرة, 
                  قسم الدراسات القرآنيةقسم التربية الخاصة, 
                  قسم علم النفس.
                  <br>كلية العلوم والدراسات الإنسانية - الجبيل: 
                  قسم اللغة الإنجليزية, 
                  قسم رياض الأطفال, 
                  قسم التربية الخاصة, 
                  قسم الحاسب الآلي, 
                  قسم الرياضيات, 
                  قسم الفيزياء.
                  <br>كلية الشريعة والقانون:
                  قسم القانون, 
                  قسم الشريعة.</p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -1444هـ-:</p>
                <br><b> طـلاب:</b>
                <table class="table">
                  <tr>
                      <th>المسار</th>
                      <th>نسب القبول</th>
                  </tr>
                  <tr>
                      <td>المسار الصحي</td>
                      <td>91.530</td>
                  </tr>
                  <tr>
                      <td>المسار كلية الصحة العامة</td>
                      <td>86.553</td>
                  </tr>
                  <tr>
                      <td>مسار كلية التمريض</td>
                      <td>88.279</td>
                  </tr>
                  <tr>
                      <td>مسار كلية الهندسة</td>
                      <td>89.680</td>
                  </tr>
                  <tr>
                      <td>مسار كلية العمارة والتخطيط</td>
                      <td>86.191</td>
                  </tr>
                  <tr>
                      <td>مسار كلية علوم الحاسب وتقنية المعلومات</td>
                      <td>89.580</td>
                  </tr>
                  <tr>
                      <td>مسار كلية إدارة الأعمال</td>
                      <td>86.335</td>
                  </tr>
                  <tr>
                      <td>كلية الشريعة والقانون (تخصص شريعة)</td>
                      <td>92.125</td>
                  </tr>
                  <tr>
                      <td>كلية الشريعة والقانون (تخصص القانون)</td>
                      <td>92.635</td>
                  </tr>
                  <tr>
                      <td>االكلية الطبيقية بالدمام (دبلوم)</td>
                      <td>90.250</td>
                  </tr>
              </table>

              <br><b> طـالبات:</b>
              <table class="table">
                <tr>
                    <th>المسار</th>
                    <th>نسب القبول</th>
                </tr>
                <tr>
                    <td>المسار الصحي</td>
                    <td>94.825</td>
                </tr>
                <tr>
                  <td>مسار كلية العلوم الطبية التطبيقية بالجبيل</td>
                  <td>92.259</td>
              </tr>
                <tr>
                    <td>المسار كلية الصحة العامة</td>
                    <td>90.534</td>
                </tr>
                <tr>
                    <td>مسار كلية التمريض</td>
                    <td>91.300</td>
                </tr>
                <tr>
                    <td>مسار كلية الهندسة</td>
                    <td>94.370</td>
                </tr>
                <tr>
                    <td>مسار كلية التصاميم للتخصصات العلمية</td>
                    <td>91.515</td>
                </tr>
                <tr>
                  <td>مسار كلية التصاميم للتخصصات الأدبية</td>
                  <td>86.465</td>
              </tr>
                <tr>
                    <td>مسار كلية علوم الحاسب وتقنية المعلومات</td>
                    <td>91.214</td>
                </tr>
                <tr>
                    <td>مسار كلية إدارة الأعمال</td>
                    <td>89.965</td>
                </tr>
                <tr>
                  <td> مسار كلية العلوم</td>
                  <td>86.965</td>
              </tr>
              <tr>
                <td>المسار العلمي بالجبيل</td>
                <td>85.602</td>
            </tr>
            <tr>
              <td>مسار كلية الآداب</td>
              <td>79.755</td>
          </tr>
          <tr>
            <td>مسار كلية التربية</td>
            <td>79.331</td>
        </tr>
        <tr>
          <td>المسار الإنساني بالجبيل</td>
          <td>79.186</td>
      </tr>
                <tr>
                    <td>كلية الشريعة والقانون (تخصص شريعة)</td>
                    <td>86.650</td>
                </tr>
                <tr>
                  <td>الكلية التطبيقية بالدمام (دبلوم)</td>
                  <td>82.534</td>
              </tr>
              <tr>
                <td>الكلية التطبيقية بالقطيف (دبلوم)</td>
                <td>79.775</td>
            </tr>
            </table>

              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>