<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة حائل</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة حائل</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\حائل.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة حائل   </h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    جامعة حائل هي مؤسسة مبتكرة، وهي واحدة من أسرع المؤسسات الأكاديمية نموًا في المملكة العربية السعودية ، حيث تلتقي مجموعات من الموهوبين لتبادل المعرفة وتطوير مستقبل أفضل تتمثل رؤية في الحفاظ على بيئة أكاديمية وإدارية وبحثية متطورة ممزوجة.                
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <h3>الكليات والأقسام للطلاب</h3>
                <br />
                <b> الكلية التطبيقية:</b>
                  <br>
                  برنامج درجة دبلوم مشارك في نظم الحاسب الآلي<br />
                  برنامج درجة دبلوم مشارك في هندسة الإلكترونيات والقياسات<br />
                  بـرنامج درجة دبلوم مشارك في إدارة الأعمال<br />
                  برنامج درجة دبلوم مشارك في تكنولوجيا الاتصالات<br />
                  برنامج درجة دبلوم مشارك في السياحة والضيافة<br />

                  <br /><b>كلية إدارة الأعمال:</b><br />
                  إدارة نظم المعلومات<br />
                  الإدارة<br />
                  المالية<br />
                  المحاسبة<br />

                 <br /> <b>كلية الآداب والفنون:</b> <br />
                  قسم اللغة العربية<br />
                  قسم اللغة الإنجليزية<br />
                  قـسم العلوم الاجتماعية<br />
                  قسم الإعلام<br />
                  قسم السياحة والآثار<br />
                  قـسم الفنون الجميلة<br />

                  <br><b>كلية التمريض:</b><br />
                  قسم التمريض الطبي والجراحي<br />
                  قسم تمريض الصحة النفسية<br />
                  قـسم رعاية صحة الأم والطفل<br />
                  قسم إدارة التمريض والإدارة<br />
                  قسم تمريض صحة المجتمع<br />

                  <br /><b>كلية الشريعة والقانون:</b><br />
                    الفقه واصوله<br />
                    القانون<br />
     
                  <br> <b>كلية الصحة العامة والمعلوماتية الصحية:</b> <br />
                  قسم الإدارة الصحية<br />
                  قـسم الصحة العامة<br />
                  قسم المعلوماتية الصحية<br />

                  <br /><b>كلية الصيدلة : </b><br />
                  قسـم الصيدلانيات<br />
                  قسم الكيمياء الصيدلية<br />
                  قـسم علم الأدوية والسـموم<br />
                  قسم الصيدلة الإكلينيكية<br />


                 <br> <b>كلية الطب:</b> <br />
                  الطب والجراحة <br />
 
                  <br><b>كلية العلوم :</b><br />
                  كيمياء<br />
                  أحياء<br />
                  فيزياء<br />
                  رياضيات<br />


                  <br><b>كلية العلوم الطبية التطبيقية:</b><br />
                  قسم الأشعة التشخيصية<br />
                  قسم التغذية السريرية<br />
                  قـسم العلاج الطبيعي<br />
                  قسم علوم المختبرات الإكلينيكية<br />


                  <br /><b>كلية الهندسة</b><br />
                  الهندسة الميكانيكية<br />
                  الهندسة المدنية<br />
                  الـهندسة الصناعية<br />
                  الهندسة الكهربائية<br />
                  الهندسة الكيميائية<br />
                  الـهندسة المعمارية<br />
                  هندسة الديكور و التصميم الداخلي<br />


                  <br /> <b>كلية طب الأسنان:</b><br />
                  الطب الوقائي<br />
                  العلاج التحفظي<br />
                  جراحة الوجه والفكين<br />
                  قسم العلوم الأساسية للطب و طب الاسنان<br />
                  قسم طب الاسنان الوقائي<br />


                  <br /><b>  كلية علوم وهندسة الحاسب الآلي:</b><br />
                   علوم الحاسب والمعلومات<br />
                   هندسة الحاسب<br />
                   هندسة البرمجيات<br />

                  <br /><b>كلية التربية:</b><br />
                 ثقافة إسلامية<br />
                 تربية خاصة<br />
                 علم النفس<br />
                 الاقتصاد المنزلي<br />
                 رياض الأطفال<br />
                 صفوف أولية<br />

                 <br />
                 <h3>الكليات والأقسام للطالبات</h3>
                <br />
                <b> كلية العلوم الطبية التطبيقية:</b>
                  <br>
                  الأشعة التشخيصية<br />
                  العلاج الطبيعي<br />
                  التغذية الإكلينيكية<br />
                  مختبرات سريرية<br />


                  <br /><b>كلية العلوم الصحية :</b><br />
                   قسم المعلوماتية <br />
                  

                 <br /> <b>كلية علوم وهندسة الحاسب الآلي:</b> <br />
                  نظم المعلومات الإدارية<br />
                  علوم الحاسب الآلي<br />
                  هندسة البرمجيات<br />
                 

                  <br><b>كلية العلوم:</b><br />
                  الأحياء<br />
                  الرياضيات<br />
                  الفيزياء<br />
                  الكيمياء<br />


                  <br /><b>كلية الآداب والفنون :</b><br />
                  اللغة العربية<br />
                  اللغة الإنجليزية<br />
                  العلوم الاجتماعية<br />
     
                  <br> <b>كلية التربية:</b> <br />
                  الثقافة الإسلامية<br />
                  التربية الخاصة<br />
                  الاقتصاد المنزلي<br />
                  رياض الأطفال<br />

                  <br /><b>كلية الطب : </b><br />
                  القسم العام والجراحة <br />
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -1444هـ-:</p>
                <b>طالبات</b>
                <table class="table">
                  <tr>
                      <td>المسار</td>
                      <td>نسب القبول</td>
                  </tr>
                  <tr>
                      <td>السنة التمهيدية الصحية</td>
                      <td>76</td>
                  </tr>
                  <tr>
                      <td>هندسة التصميم الداخلي</td>
                      <td>75.68</td>
                  </tr>
                  <tr>
                    <th>كلية العلوم وهندسة الحاسب الآلي</th>
                  </tr>
                  <tr>
                      <td>علوم الحاسب الآلي</td>
                      <td>71.33</td>
                  </tr>
                  <tr>
                      <td>هندسة البرمجيات</td>
                      <td>71.6</td>
                  </tr>
                  <tr>
                      <td>هندسة الحاسب الآلي</td>
                      <td>69.65</td>
                  </tr>
                  <tr>
                      <td>الذكاء الاصطناعي</td>
                      <td>85.28</td>
                  </tr>
                  <tr>
                      <td>امن المعلومات</td>
                      <td>84.11</td>
                  </tr>
                  <tr>
                      <td>هندسة شبكات وأنظمة الاتصالات</td>
                      <td>75.9</td>
                  </tr>
                  <tr>
                      <td>علم البيانات</td>
                      <td>79.24</td>
                  </tr>
                  <tr>
                    <th>كلية العلوم</th>
                  </tr>
                  <tr>
                      <td> الأحياء</td>
                      <td>69.36</td>
                  </tr>
                  <tr>
                    <td> الفيزياء</td>
                    <td>60.39</td>
                  </tr>
                  <tr>
                    <td>  الرياضيات</td>
                    <td>60.03</td>
                  </tr>
                  <tr>
                    <td>الكيمياء</td>
                    <td>63.46</td>
                  </tr>
                  <tr>
                    <th>كلية إدارة الاعمال</th>
                  </tr>
                  <tr>
                    <td>الإدارة</td>
                    <td>74.57</td>
                  </tr>
                  <tr>
                    <td> المحاسبة </td>
                    <td>72.26</td>
                  </tr>
                  <tr>
                    <td> المالية</td>
                    <td>72.85</td>
                  </tr>
                  <tr>
                    <td>نظم المعلومات الإدارية</td>
                    <td>72.74</td>
                  </tr>
                  <tr>
                    <td>التسويق</td>
                    <td>75.17</td>
                  </tr>
                  <tr>
                    <th>كلية الآداب والفنون </th>
                  </tr>
                  <tr>
                    <td>إدارة السياحة والفعاليات</td>
                    <td>74.36</td>
                  </tr>
                  <tr>
                    <td> الاعلام </td>
                    <td>70.92</td>
                  </tr>
                  <tr>
                    <td> الفنون الجميلة</td>
                    <td>68.83</td>
                  </tr>
                  <tr>
                    <td> اللغة الانجليزية </td>
                    <td>68.18</td>
                  </tr>
                  <tr>
                    <td>اللغة العربية</td>
                    <td>64.69</td>
                  </tr>
                  <tr>
                    <td> التاريخ </td>
                    <td>67.85</td>
                  </tr>
                  <tr>
                    <td> نظم المعلومات الجغرافية  </td>
                    <td>68.89</td>
                  </tr>
                  <tr>
                    <td>الخدمة الاجتماعية</td>
                    <td>69.47</td>
                  </tr>
                  <tr>
                    <th>كلية التربية  </th>
                  </tr>
                  <tr>
                    <td>رياض الأطفال</td>
                    <td>70.75</td>
                  </tr>
                  <tr>
                    <td> علم النفس </td>
                    <td>72.67</td>
                  </tr>
                  <tr>
                    <td> علوم الرياضة والنشاط البدني</td>
                    <td>73.05</td>
                  </tr>
                  <tr>
                    <th>كلية الشريعة</th>
                  </tr>
                  <tr>
                    <td>الشريعة</td>
                    <td>73.26</td>
                  </tr>
              </table>

              <b>طلاب</b>
                <table class="table">
                  <tr>
                      <td>المسار</td>
                      <td>نسب القبول</td>
                  </tr>
                  <tr>
                      <td>السنة التمهيدية الصحية</td>
                      <td>76</td>
                  </tr>
                  <tr>
                    <th>كلية الهندسة</th>
                  </tr>
                  <tr>
                      <td>الهندسة الصناعية</td>
                      <td>71.8</td>
                  </tr>
                  <tr>
                    <td>الهندسة الكيميائية</td>
                    <td>69.98</td>
                  </tr>
                  <tr>
                    <td>الهندسة المدنية</td>
                    <td>70.94</td>
                  </tr>
                  <tr>
                    <td>الهندسة المعمارية</td>
                    <td>71.03</td>
                  </tr>
                  <tr>
                    <td>الهندسة الكهربائية</td>
                    <td>72.19</td>
                  </tr>
                  <tr>
                    <td>هندسة الطاقة المتجددة</td>
                    <td>76.5</td>
                  </tr>
                  <tr>
                    <td>الهندسة الميكانيكية</td>
                    <td>72.1</td>
                  </tr>
                  <tr>
                    <th>كلية العلوم وهندسة الحاسب الآلي</th>
                  </tr>
                  <tr>
                      <td>علوم الحاسب الآلي</td>
                      <td>70.403</td>
                  </tr>
                  <tr>
                      <td>هندسة البرمجيات</td>
                      <td>70.78</td>
                  </tr>
                  <tr>
                      <td>هندسة الحاسب الآلي</td>
                      <td>69.86</td>
                  </tr>
                  <tr>
                      <td>الذكاء الاصطناعي</td>
                      <td>79.52</td>
                  </tr>
                  <tr>
                      <td>امن المعلومات</td>
                      <td>81.6</td>
                  </tr>
                  <tr>
                      <td>هندسة شبكات وأنظمة الاتصالات</td>
                      <td>75.07</td>
                  </tr>
                  <tr>
                      <td>علم البيانات</td>
                      <td>76.22</td>
                  </tr>
                  <tr>
                    <th>كلية العلوم</th>
                  </tr>
                  <tr>
                      <td> الأحياء</td>
                      <td>64.91</td>
                  </tr>
                  <tr>
                    <td> الفيزياء</td>
                    <td>60.58</td>
                  </tr>
                  <tr>
                    <td>  الرياضيات</td>
                    <td>63.49</td>
                  </tr>
                  <tr>
                    <td>الكيمياء</td>
                    <td>60.13</td>
                  </tr>
                  <tr>
                    <th>كلية إدارة الاعمال</th>
                  </tr>
                  <tr>
                    <td>الإدارة</td>
                    <td>73.5</td>
                  </tr>
                  <tr>
                    <td> المحاسبة </td>
                    <td>70.55</td>
                  </tr>
                  <tr>
                    <td> المالية</td>
                    <td>70.23</td>
                  </tr>
                  <tr>
                    <td>نظم المعلومات الإدارية</td>
                    <td>70.2</td>
                  </tr>
                  <tr>
                    <td>التسويق</td>
                    <td>72.21</td>
                  </tr>
                  <tr>
                    <th>كلية الآداب والفنون </th>
                  </tr>
                  <tr>
                    <td>إدارة السياحة والفعاليات</td>
                    <td>69.86</td>
                  </tr>
                  <tr>
                    <td> الآثار وإدارة موارد التراث</td>
                    <td>69.37</td>
                  </tr>
                  <tr>
                    <td> الاعلام </td>
                    <td>68.8</td>
                  </tr>
                  <tr>
                    <td> الفنون الجميلة</td>
                    <td>66.55</td>
                  </tr>
                  <tr>
                    <td> اللغة الانجليزية </td>
                    <td>65.72</td>
                  </tr>
                  <tr>
                    <td>اللغة العربية</td>
                    <td>65.24</td>
                  </tr>
                  <tr>
                    <td> التاريخ </td>
                    <td>68.07</td>
                  </tr>
                  <tr>
                    <td> نظم المعلومات الجغرافية  </td>
                    <td>65.2</td>
                  </tr>
                  <tr>
                    <td>الخدمة الاجتماعية</td>
                    <td>67.56</td>
                  </tr>
                  <tr>
                    <th>كلية التربية  </th>
                  </tr>
                  <tr>
                    <td> علم النفس </td>
                    <td>67.95</td>
                  </tr>
                  <tr>
                    <td> علوم الرياضة والنشاط البدني</td>
                    <td>70.37</td>
                  </tr>
                  <tr>
                    <th>كلية الشريعة</th>
                  </tr>
                  <tr>
                    <td>الشريعة</td>
                    <td>72.56</td>
                  </tr>
              </table>
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>