<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://css.gg/css?=|ereader" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>الصفحة الرئيسية</title>
  <div class="image">
    <div class="logo">
      <a href="index.html"><img src="static\logo.svg"></a>
    </div>
    <nav>
      <ul>
        <li><a class="active" href="index.html">الرئيسية</a></li>
        <li><a href="universities.html">الجامعات</a></li>
        <li><a href="gpa.html">حساب المعدل</a></li>
        <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
      </ul>
    </nav>
    <h1 id="title">الدلـيل لأكثر من عشـر جامعـات<br /> سعوديـة حكوميـة</h1>
    <p id="subtitle"> هدفنا مساعدة خريجي الثانوية العامة لمعرفة مختلف الجامعات <br />والمجالات المتاحة وايضًا نسب القبول.. </p>
  </div>
</head>
<body class="home-body">
  <hr class="home-hr"/>
  <div style="float:right; margin-right: 6%;">
    <img style="border-radius: 20px; width: 200px;" src="static\umalq.png">
  </div>
  <div class="home-div1" style="float: right;">
    <h4>منطلق الجامعات</h4>
    <p>يوجد في المملكة العربية السعودية حوالي 30 جامعة حكومية. <br />
      أول جامعة سعودية تم تأسيسها هي جامعة ام القرى في مكة المكرمة عام 1949 بأمر من الملك عبدالعزيز رحمه الله.<br />
      وقد كانت بالبداية باسم كلية الشريعة حتى انضم اليها كليات أخرى في مجالات مختلفة وتم تسميتها بجامعة ام القرى.<br />
      ومن بعد جامعة ام القرى ازداد الاهتمام ببناء الجامعات في مختلف المدن والمحافظات حتى أصبح الآن لدينا حوالي 30 جامعة حكومية بفضل الله.
    </p>
  </div>
  <hr class="home-hr" style="margin-top: 20%;"/>
  <div class="home-div1" style="margin-right: 25%;">
    <h4>ما سنحيطك به علمًا</h4>
    <p>تم بناء هذا الموقع لمساعدة طلبة وخريجي الثانوية العامة بمعرفة الجامعات والتخصصات المتاحة والتي يمكن الالتحاق بها في المملكة العربية السعودية بشكل مجاني..<br />
      بالإضافة الى معرفة نسب القبول في اغلب الأقسام والكليات حتى يتسنّى للطلبة معرفة التخصص المُراد الالتحاق به..
    </p>
  </div>
  <hr class="home-hr" style="margin-top: 10%;"/>
  <div class="home-div1" style="margin-right: 25%; background-color: rgb(221, 219, 219); float: none;">
    <h4>كيفية الوصول؟</h4>
    <p>
      اختر من القائمة في اعلى الصفحة "الجامعات" حتى تصل الى قائمة الجامعات واختيار احدى هذه الجامعات
      كما يمكنك مباشرة البحث عن الجامعة التي تريدها من شريط البحث.. 
    </p>
  </div>
  <center>
    <hr style="margin-top: 10%; " />
    <div style="display: inline-block;">
     <span><p style="color: rgb(174, 174, 174);">Made by Nusaibah, Mashael and Amira for CS471 Project <i class="gg-ereader" style="float: right;"></i> </p></span>
   </div>
  </center>
</body>
</html>