<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة جازان</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة جازان</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\jazanu_logo_1.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة جازان</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    جامعة سعودية حكومية تسعى إلى تحقيق التميز الأكاديمي، وإعداد الخريجين ليكونوا قادة على كافة الأصعدة، كما تولي خدمة المجتمع
اهتماما بالتصدي للمشاكل التي تواجهه، إضافة إلى دعم التنمية الاقتصادية والاجتماعية، وإجراء أبحاث معترف بها دوليا، وخلق معارف
جديدة تلبي احتياجات المنطقة.
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <p><b>- كلية الطب</b>
                <br><b>- كلية العلوم الطبية التطبيقية</b>
                <br><b>- كلية الصيدلة</b>
                <br><b>- كلية طب الأسنان</b>
                <br><b>- كلية التمريض</b>
                <br><b>- كلية التصميم والعمارة</b>
                <br><b>- كلية الحاسب الآلي ونظم المعلومات</b>
                <br><b>- كلية الشريعة والقانون</b>
                <br><b>- كلية الآداب والعلوم الإنسانية</b>
                <br><b>- كلية المجتمع</b>
                <br><b>- الكلية الجامعية في محافظة العارضة للطالبات</b>
                <br><b>- كلية الصحة العامة وطب المناطق الحارة</b>
                <br><b>- كلية العلوم</b>
                <br><b>- كلية الأعمال</b>
                <br><b>- كلية التربية</b>
                <br><b>- كلية الهندسة</b>
                <br><b>- الكلية الجامعية في محافظة فرسان</b>
                <br><b>- الكلية الجامعية في محافظة الداير</b>
                <br><b>- الكلية الجامعية في محافظة صامطة</b>
                <br><b>- الكلية الجامعية في محافظة أبي العريش</b>
                <br><b>- الكلية الجامعية في محافظة بيش</b>

                  <p><b>الأقسام:</b></p>
                  <b>كلية الطب: </b>
                  <br> تخصص الأحياء الدقيقة والطفيليات الطبية, 
                  تخصص طب النساء، والتوليد
                  تخصص علم الأدوية السريري, 
                  تخصص طب الأطفال, 
                  تخصص علم الأمراض, 
                  تخصص علم التشريح البشري, 
                  تخصص الجراحة, 
                  تخصص الكيمياء الحيوية الطبية, 
                  تخصص علم وظائف الأعضاء, 
                  تخصص طب الأسرة والمجتمع, 
                  تخصص الأمراض الباطنية, 
                  وتمنح الكلية درجة البكالوريوس في تخصص الطب والجراحة. 
                
                  <p><b>كلية العلوم الطبية التطبيقية : </b>
                 <br> تخصص بكالوريوس تقنية المختبرات الطبية.
                 تخصص التغذية الإكلينيكية, 
                 تخصص تقنية الأشعة التشخيصية, 
                 تخصص بكالوريوس العلاج الطبيعي, 
                 تخصص بكالوريوس العلاج التنفسي, 
                 تخصص بكالوريوس الإسعاف والطوارئ.
                </p>
                  <p><b>كلية الصيدلة: </b>
                  <br>تخصص علوم الأدوية, 
                  تخصص الصيدلانيات,
                  تخصص الصيدلة السريرية, 
                  تخصص الكيمياء الصيدلانية, 
                  تخصص العقاقير, 
                  تخصص بكالوريوس دكتور صيدلي.
                   </p>

                  <p><b>كلية طب الأسنان:  </b>
                  <br> تخصص وقاية الأسنان, 
                  تخصص إصلاح الأسنان, 
                  تخصص جراحة الوجه والفكين وعلوم التشخيص, 
                  تخصص علوم الاستعاضة, 
                  صحة الفم والأسنان, 
                  تخصص تقنية الأسنان, 
                  تخصص البكالوريوس طب وجراحة الفم والأسنان. 
                  </p>
                <p><b>كلية التمريض: </b>
                    <br> تخصص تمريض, 
                    تخصص القبالة, 
                    تخصص العمليات, 
                    الإسعاف والطوارئ والبصريات والسمعيات, 
                </p>
                <p><b>كلية التصميم والعمارة:  </b>
                     <br> تخصص بكالوريوس التصميم الداخلية, 
                     تخصص بكالوريوس العمارة, 
                     تخصص الفنون التطبيقية.
                </p>
                <p><b>كلية الحاسب الآلي ونظم المعلومات: </b>
                    <br> 
                    تخصص بكالوريوس علوم الحاسب الآلي, 
                    تخصص بكالوريوس نظم المعلومات, 
                    تخصص بكالوريوس هندسة الحاسب الآلي والشبكات.
                 <p><b>كلية الشريعة والقانون: </b>
                    <br> تخصص بكالوريوس في الشريعة,
                    تخصص بكالوريوس في القانون العام.
                 </p>
                <p><b>كلية الآداب والعلوم الإنسانية: </b>
                    <br> تخصص اللغة العربية وآدابها, 
                    تخصص اللغة الإنجليزية, 
                    تخصص الصحافة والإعلام, 
                    تخصص السياحة والآثار, 
                    تخصص العلوم الاجتماعية- قسم مساند, 
                    <br>
                    وتمنح الكلية تخصصات في درجة البكالوريوس بنظامي الانتظام والتعليم عن بعد في التخصصات الآتية:
                    تخصص بكالوريوس في الانتظام, 
                    تخصص بكالوريوس في اللغة العربية وآدابها, 
                    تخصص بكالوريوس اللغة الإنجليزية, 
                    تخصص بكالوريوس الصحافة والإعلام, 
                    تخصص بكالوريوس في السياحة والآثار, 
                    تخصص ماجستير الإدارة التربوية, 
                    تخصص الماجستير في الإرشاد النفسي.
                </p>
                <p><b>كلية المجتمع في جازان: </b>
                     <br> تخصص الإدارة, 
                     تخصص الحاسب. <br>
                     وتمنح كلية المجتمع بجازان في درجة الدبلوم تخصصات عدة وهي:
                     دبلوم الإدارة والتسويق, 
                     دبلوم الإدارة والمحاسبة, 
                     دبلوم الإدارة- الفندقة والسياحة, 
                     دبلوم الإدارة والإدارة المكتبية (السكرتارية التنفيذية), 
                     دبلوم الإدارة – إدارة الأعمال, 
                     دبلوم الحاسب – برمجة وتشغيل الحاسبات, 
                     دبلوم الحاسب وتحليل وتصميم النظم.
                </p>
                 <p><b>الكلية الجامعية في محافظة العارضة للطالبات: </b>
                     <br> تخصص اللغة الإنجليزية, 
                     تخصص الفيزياء, 
                     تخصص العلوم الطبية التطبيقية. <br> 
                     وتمنح الكلية الجامعية بمحافظة العارضة في درجة البكالوريوس تخصصات هي:
                     بكالوريوس في اللغة الإنجليزية والترجمة, 
                     بكالوريوس في الفيزياء, 
                     بكالوريوس في العلاج الطبيعي.
                 </p>
                <p><b>الكلية الجامعية في محافظة الدرب: </b>
                     <br> تخصص بكالوريوس الأحياء, 
                     تخصص بكالوريوس اللغة الإنجليزية, 
                     تخصص بكالوريوس في الرياضيات, 
                     تخصص بكالوريوس في إدارة الأعمال, 
                     تخصص بكالوريوس في العلوم الطبية, 
                     تخصص بكالوريوس في التمريض.
                </p>
                <p><b>الكلية الجامعية في محافظة صبيا:  </b>
                     <br> تخصص بكالوريوس علوم الحاسب, 
                     تخصص بكالوريوس في المحاسبة, 
                     تخصص بكالوريوس في التمريض.
                </p>
                <p><b>كلية الصحة العامة وطب المناطق الحارة: </b>
                     <br> تخصص الوبائيات, 
                     تخصص صحة البيئة, 
                     تخصص المعلوماتية الصحية, 
                     تخصص التثقيف والتعزيز الصحي.
                </p>
                <p><b>كلية العلوم:</b>
                     <br> تخصص بكالوريوس في الرياضيات, 
                     تخصص بكالوريوس في الكيمياء, 
                     تخصص بكالوريوس في الفيزياء, 
                     تخصص الأحياء.
                </p>
                <p><b>كلية إدارة الأعمال: </b>
                     <br> تخصص إدارة الأعمال, 
                     تخصص المالية والأعمال المصرفية, 
                     تخصص نظم المعلومات الإدارية, 
                     تخصص بكالوريوس في الأنظمة, 
                     تخصص التسويق والتجارة الإلكترونية, 
                     تخصص بكالوريوس في المحاسبة.
                </p>
                <p><b>كلية التربية:</b>
                     <br> تخصص التربية, 
                     تخصص علم النفس, 
                     تخصص التربية الفنية, 
                     تخصص التربية البدنية, 
                     تخصص التربية الخاصة, 
                     تخصص رياض الأطفال, 
                     المناهج وطرق التدريس, 
                     تخصص الثقافة الإسلامية- قسم مساند.
                </p>
                <p><b>كلية الهندسة: </b>
                    <br> تخصص بكالوريوس الهندسة الميكانيكية, 
                    تخصص الهندسة الكهربائية, 
                    تخصص الهندسة الصناعية, 
                    تخصص الهندسة الكيميائية, 
                    تخصص الهندسة المدنية, 
                    تخصص الهندسة المعمارية.
                 </p>
                 <p><b>الكلية الجامعية في محافظة فرسان: </b>
                    <br> تخصص الاقتصاد المنزلي, 
                    تخصص اللغة الإنجليزية, 
                    تخصص العلوم الطبية, 
                    تخصص البكالوريوس في التمريض.
                     </p>
                <p><b> الكلية الجامعية في محافظة الداير:</b>
                    تخصص اللغة الإنجليزية, 
                    تخصص العلوم الطبية التطبيقية, 
                    تخصص البكالوريوس في الرياضيات.                   
                 </p>
                <p><b>الكلية الجامعية في محافظة صامطة: </b>
                     <br> تخصص الاقتصاد المنزلي, 
                     تخصص اللغة الإنجليزية, 
                     تخصص بكالوريوس في الفيزياء, 
                     تخصص بكالوريوس في الكيمياء, 
                     تخصص بكالوريوس رياض الأطفال. 
                    </p>
                <p><b>الكلية الجامعية في محافظة أبي عريش: </b>
                    <br> تخصص التغذية الإكلينيكية, 
                    تخصص نظم المعلومات, 
                    تخصص التسويق بكالوريوس.
                    </p>
               <p><b>الكلية الجامعية في محافظة بيش: </b>
                  <br> تقنية الهندسة الميكانيكية, 
                    تقنية الهندسة الكهربائية, 
                    تقنية الهندسة الكيميائية.
                     </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -:</p>
                <table class="table" class="t">
                  <tr>
                      <th>  التخصص</th>
                      <th>  نسبة القبول</th>
                  </tr>
                  <tr>
                      <td>المسار الصحي والتخصصات الصحية</td>
                      <td>80.00</td>
                  </tr>
                  <tr>
                    <td> كليات الهندسة والتصميم والعمارة</td>
                    <td> 78.00</td>
                </tr>
                <tr>
                    <td>كلية الشريعة والقانون</td>
                    <td> 75.00</td>
                </tr>
                <tr>
                    <td> برامج البكالوريوس</td>
                    <td> 70.00</td>
                </tr>
                <tr>
                    <td> دبلومات كليتي المجتمع والتطبيقات الصناعية</td>
                    <td> 65.00</td>
                </tr>
              </table>
                
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>