<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة الجوف</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة الجوف</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\الجوف.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة الجوف</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    حققت جامعة الجوف، عددا من المنجزات والنجاحات منذ إنشائها في أواسط العام 1426هـ ولم تتوقف مسيرة نمائها في مختلف
المجالات الإدارية والأكاديمية والتعليمية والمشاريع الإنشائية في المدينة الجامعية التي تحظى بدعم كبير من قبل حكومة خادم الحرمين
الشريفين وولي عهده الأمين أيدهم الله، ومتابعة مستمرة من قبل سمو أمير منطقة الجوف ومعالي وزير التعليم، إضافة إلى جوانب
المسؤولية الاجتماعية، وتمكين المرأة في العديد من أعمالها، وتأتي هذه المنجزات لتحقيق رؤية الجامعة ورسالتها وأهدافها.
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <p><b>- كلية الطب</b>
                <br><b>- كلية طب الأسنان</b>
                <br><b>- كلية الصيدلة</b>
                <br><b>- كلية الهندسة</b>
                <br><b>- كلية علوم الحاسب والمعلومات</b>
                <br><b>- كلية العلوم</b>
                <br><b>- كلية الشريعة والقانون</b>
                <br><b>- كلية الآداب والعلوم الإنسانية</b>
                <br><b>- كلية التربية</b>
                <br><b>- كلية المجتمع</b>
                <br><b>- كلية الأعمال</b>
                <br><b>- كلية العلوم الطبية التطبيقية في القريات</b>
                <br><b>- كلية العلوم والآداب في القريات</b>
                <br><b>- كلية المجتمع في القريات</b>
                <br><b>- كلية العلوم والآداب في طبرجل</b>
                <br><b>- كلية المجتمع في طبرجل</b>

                  <p><b>الأقسام:</b></p>
                  <b>كلية الطب: </b>
                  <br> الطب, الجراحة.
                
                  <p><b>كلية طب الأسنان: </b>
                 <br> تخصص طب الأسنان.
                </p>
                  <p><b>كلية الصيدلة: </b>
                  <br>
                  تخصص الصيدلة.
                   </p>

                  <p><b>كلية الهندسة: </b>
                  <br>  الهندسة المدنية, الهندسة الميكانيكية, الهندسة الكهربائية, هندسة الحاسب والشبكات.
               
                <p><b>كلية علوم الحاسب والمعلومات: </b>
                    <br> هندسة الحاسب والشبكات, علوم الحاسب, نظم المعلومات, هنسة البرمجيات.

                <p><b>كلية العلوم: </b>
                     <br> الرياضيات, الفيزياء, الكيمياء, تخصص العلوم.
                
                 <p><b>كلية الشريعة والقانون: </b>
                    <br> الشريعة, القانون, الدراسات الإسلامية.

                <p><b>كلية الآداب والعلوم الإنسانية: </b>
                        <br> اللغة العربية, اللغة الإنجليزية, علوم الرياضة.

                <p><b>كلية التربية: </b>
                     <br> تعليم الطفل المبكر.
                
                 <p><b>كلية المجتمع: </b>
                     <br> علوم الحاسب, إدارة مالية.

                <p><b>كلية الأعمال: </b>
                     <br> المحاسبة, إدارة الأعمال, التمويل والاستثمار.

                <p><b>كلية العلوم الطبية التطبيقية في القريات:  </b>
                     <br> العلاج الطبيعي والـتأهيل الصحي, علوم المختبرات الإكلينيكية, التمريض.

                <p><b>كلية العلوم والآداب في القريات: </b>
                     <br> الرياضيات, الفيزياء, الكيمياء, علوم الحاسب, الفنون, تعليم الطفل البمكر, لغة عربية,
                     لغة إنجليزية, الدراسات الإسلامية, إدارة الأعمال.

                <p><b>كلية المجتمع في القريات:</b>
                     <br> علوم الحاسب, اللغة الإنجليزية, الإدارة المالية.
                <p><b>كلية العلوم والآداب في طبرجل: </b>
                     <br> الرياضيات, الفيزياء, علوم الحاسب والمعلومات, اللغة الإنجليزية, إدارة الأعمال, الدراسات الإسلامية.
                <p><b>كلية المجتمع في طبرجل: </b>
                     <br> اللغة الإنجليزية, الإدارة المالية.
                </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -:</p>
                <br><b> نسبة القبول للتخصصات الصحية: </b>
                <table class="table" class="t">
                  <tr>
                      <th>  التخصص</th>
                      <th>  بنين</th>
                      <th>  بنات</th>
                  </tr>
                  <tr>
                      <td>الطب والجراحة</td>
                      <td>90.20</td>
                      <td>93.00</td>
                  </tr>
                  <tr>
                    <td> التمريض</td>
                    <td> 85.00</td>
                    <td> 85.00</td>
                </tr>
                <tr>
                    <td>الصيدلة </td>
                    <td> 80.00</td>
                    <td> 82.00</td>
                </tr>
                <tr>
                    <td> العلاج الطبيعي</td>
                    <td> 80.00</td>
                    <td> 81.00</td>
                </tr>
                <tr>
                    <td> المختبرات الإكلينيكية</td>
                    <td> 80.00</td>
                    <td> 83.00</td>
                </tr>
              </table>

              
              <br><b> النسب المكافئة والموزونة للتخصصات الصحية والعلمية:</b>
              <table class="table" class="t">
                <tr>
                    <th>  التخصص</th>
                    <th>  النسبة المكافئة</th>
                </tr>
                <tr>
                    <td>تعليم الطفولة المبكرة</td>
                    <td>90.00</td>
                </tr>
                <tr>
                  <td> اللغة الإنجليزية</td>
                  <td> 84.00</td>
              </tr>
              <tr>
                <td>القانون</td>
                <td>84.00</td>
            </tr>
            <tr>
                <td>التمويل والاستثمار</td>
                <td>84.00</td>
            </tr>
            <tr>
                <td>إدارة الأعمال</td>
                <td>84.00</td>
            </tr>
              <tr>
                  <td>اللغة العربية</td>
                  <td> 75.00</td>
              </tr>
              <tr>
                  <td> الدراسات الإسلامية</td>
                  <td> 75.00</td>
              </tr>
              <tr>
                  <td> الشريعة</td>
                  <td> 75.00</td>
              </tr>
              <tr>
                <td> الدبلومات المكافئة</td>
                <td>65.00</td>
            </tr>
            </table>
             
            <table class="table" class="t"> <br>
                <tr>
                    <th>  التخصص</th>
                    <th>  النسبة الموزونة</th>
                </tr>
                <tr>
                    <td>التمريض</td>
                    <td>85.00</td>
                </tr>
                <tr>
                  <td> الطب والجراحة</td>
                  <td> 92.00</td>
              </tr>
              <tr>
                <td>طب الأسنان</td>
                <td>87.00</td>
            </tr>
            <tr>
                <td>كلية الهندسة</td>
                <td>78.00</td>
            </tr>
            <tr>
                <td>كلية علوم الحاسب</td>
                <td>75.00</td>
            </tr>
              <tr>
                  <td>الدبلومات الموزونة</td>
                  <td> 65.00</td>
              </tr>
            </table>
                
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>