<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة أم القرى</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة أم القرى</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\alq.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة أم القرى</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    في عام 1369هـ، أمر الملك عبدالعزيز بتأسيس كلية الشريعة في مكة المكرمة، لتصبح أولى المؤسسات التعليمية
ً الجامعية إنشاء في البلاد، ونواة لجامعة "أم القرى"، والكلية الأم فيها.
وتظل جامعة أم القرى، رغم حداثة قيامها في هيئتها من أكثر الجامعات تميزا بحكم موقعها وعراقتها، فقد برزت جامعة
أم القرى، كمؤسسة أكاديمية ذات سمعة علمية كبيرة في علوم الشريعة والتربية والدراسات الإسلامية، علاوة على
التخصصات العلمية والتطبيقية الحديثة. <p>
وقد مرت جامعة أم القرى منذ إنشاء أولى كلياتها بثلاث مراحل تاريخية:<br>
1/المرحلة الأولى (1391-1369هـ:) تعود الانطلاقة الأولى لجامعة أم القرى إلى العام 1369هـ، حين تأسست كلية
الشريعة، وفي عام 1372هـ، تم إنشاء معهد للمعلمين باسم "كلية المعلمين" استمرت إلى عام 1379هـ، ثم أسندت مهمة
إعداد المعلمين لكلية الشريعة عام1381هـ، وسميت كلية الشريعة والتربية، وفي عام 1382هـ أنشأت كلية التربية بمكة
المكرمة مستقلة عن كلية الشريعة.<br>
 2/المرحلة الثانية (1401-1391هـ:) انضمت كليتي الشريعة والتربية إلى جامعة الملك عبدالعزيز بجدة، كشطر من
الجامعة في مكة المكرمة، وتم في نهاية هذه المرحلة افتتاح كلية التربية بالطائف، وإضافة أقسام علمية جديدة، وإنشاء
عدد من المراكز العلمية.<br>
3/ المرحلة الثالثة (جامعة أم القرى:) أصبحت الجامعة تقدم مختلف أنواع التخصصات، وتمنح درجات البكالوريوس
والدبلوم العالي والماجستير والدكتوراه في علوم الشريعة واللغة العربية والتربية، والعلوم الاجتماعية والتطبيقية والطب
والهندسة، وتتوزع مقرات الجامعة حالياً وكلياتها على ثلاثة مواقع في مكة المكرمة</p>
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <p><b>- الكليات الشرعية والإدارية</b>
                  <br> كلية الشريعة والدراسات الإسلامية, 
                   كلية الدعوة وأصول الدين, 
                  المعهد العالي للأمر بالمعروف والنهي عن المنكر, 
                  كلية إدارة الأعمال, 
                  كلية الدراسات القضائية والأنظمة, 
                  كلية العلوم الاقتصادية والمالية الإسلامية.
                  
                  <br><b>- الكليات العلمية والهندسية</b>
                  <br> كلية العلوم التطبيقية, 
                   كلية الهندسة والعمارة الإسلامية, 
                  كلية الحاسب الآلي ونظم المعلومات.
        
                  <br><b>- الكليات الطبية</b>
                  <br> كلية الطب, 
                   كلية العلوم الطبية التطبيقية, 
                   كلية طب الأسنان, 
                   كلية الصحة العامة والمعلوماتية الصحية, 
                  كلية الصيدلة, 
                  كلية التمريض.
                 
        
                  <br><b>- كليات العلوم الإنسانية والتربوية</b>
                  <br> كلية اللغة العربية, 
                  كلية التربية, 
                   كلية العلوم الاجتماعية, 
                  معهد اللغة العربية لغير الناطقين بها, 
                  الكلية التطبيقية, 
                  كلية التصاميم والفنون, 
                  مركز اللغة الإنجليزية.
                
                <br><b>- كليات الفروع</b>
                <br>الكلية الجامعية بالجموم,
                 فرع القنفذة, 
                 فرع الليث, 
                الكلية الجامعية في محافظة أضم.

                  <p><b>الأقسام:</b></p>
                   <p><b>الكليات الشرعية والإدارية: </b>
                  <br> كلية الشريعة والدراسات الإسلامية: 
                  قسم الشريعة, 
                 قسم التاريخ والآثار, 
                مركز الدراسات الإسلامية.
                
                 <br> كلية الدعوة وأصول الدين:
                 القراءات, 
                 الدعوة والثقافة الإسلامية, 
                 الكتاب والسنة, 
                 العقيدة.
            
                   <br> المعهد العالي للأمر بالمعروف والنهي عن المنكر: 
                   قسم الحسبة, 
                 قسم الدورات التدريبية.
                
                  <br> كلية إدارة الأعمال: 
                قسم إدارة الأعمال, 
                التسويق, 
                المحاسبة, 
                السياحة والفندقة, 
                إدارة أعمال الحج والعمرة.
                
                <br> كلية الدراسات القضائية والأنظمة:
                الدراسات القضائية, الأنظمة.
                   
                    <br> كلية العلوم الاقتصادية والمالية الإسلامية: 
                    الاقتصاد, 
                    المصارف والأسواق المالية, 
                     التمويل, 
                     التأمين.
                   </p>
                    <p><b>الكليات العلمية والهندسية: </b>
                        <br> كلية العلوم التطبيقية: 
                    الأحياء, 
                    العلوم الرياضية, 
                    الكيمياء, 
                    الفيزياء.
                        <br> كلية الهندسة والعمارة الإسلامية: 
                        العمارة, 
                     الهندسة الكهربائية, 
                    الهندسة المدنية, 
                    الهندسة الميكانيكية .
                        <br> كلية الحاسب الآلي ونظم المعلومات: 
                        علوم الحاسب الآلي, 
                        نظم المعلومات, 
                        هندسة الحاسب الآلي, 
                        علم المعلومات.
                       
                    <p><b>الكليات الطبية: </b>
                    <br> كلية الطب: 
                    الطب والجراحة, 
                    طب الأطفال, 
                    طب النساء و الولادة, 
                    التشريح, 
                    علم الكائنات الدقيقة, 
                    علم الطفيليات, 
                    علم الأمراض, 
                    علم الأدوية والسموم, 
                    طب المجتمع والرعاية الصحية للحجيج, 
                     علم الدم والمناعة, 
                    الطب الباطني, 
                    الجراحة العامة, 
                    تعليم طبي, 
                    علم الوراثة الطبية, 
                    علم وظائف الأعضاء, 
                    الكيمياء الحيوية, 
                    جراحة العظام, 
                    جراحة الأنف والأذن والحنجرة والعيون.
                    <br> كلية العلوم الطبية التطبيقية: 
                    طب المختبرات, 
                    العلاج الطبيعي, 
                    التغذية الاكلينيكية, 
                    التقنية السريرية.
                    <br> كلية طب الأسنان:
                    وقاية الأسنان, 
                    العلاج التحفظي وإصحاح الأسنان, 
                    جراحة الوجه والكفين وعلوم التشخيص, 
                    علوم الفم الأساسية والسريرية.
                    <br> كلية الصيدلة: 
                    الأدوية والسموم, 
                    الصيدلانيات, 
                    الصيدلية الاكلينيكية, 
                    الكيمياء الصيدلية, 
                    الصيدلة, 
                    العقاقير.
                    <br> كلية الصحة العامة والمعلوماتية الصحية: 
                     الصحة المهنية, 
                    إدارة المرافق الصحية, 
                    الوبائيات, 
                    صحة البيئة, 
                    التوعية والتعزيز الصحي, 
                    إدارة الخدمات الصحية, 
                    إحصاء طبي, 
                    إدارة وتقنية المعلومات الصحية .
                    <br> كلية التمريض:
                     ممارسات التمريض, 
                    علوم وأبحاث التمريض, 
                    تمريض المجتمع والرعاية الصحية.
                </p>
                <p><b>كليات العلوم الإنسانية والتربوية: </b>
                    <br> كلية اللغة العربية:
                    الأدب, 
                    البلاغة والنقد, 
                    اللغة والنحو والصرف.
                    <br> كلية التربية:
                    التربية الخاصة, 
                    رياض الأطفال, 
                    المناهج وطرق التدريس, 
                    التربية الإسلامية, 
                    التربية البدنية, 
                    الإدارة التربوية, 
                    علم النفس, 
                    التربية الأسرية, 
                    الطفولة المبكرة, 
                    مركز الدورات التدريبية.
                    <br> كلية العلوم الاجتماعية:
                    اللغة الإنجليزية, 
                     الجغرافيا, 
                    الخدمة الاجتماعية, 
                    الإعلام.
                    <br> معهد اللغة العربية لغير الناطقين بها:
                     تعليم اللغة العربية, 
                    إعداد المعلمين.
                    <br> الكلية التطبيقية:
                     البرمجة وعلوم الحاسب, 
                    أمن المعلومات, 
                    تقنية الهندسة المعمارية, 
                    إنتاج الطعام, 
                    الموارد البشرية, 
                    البصريات, 
                    تكنولوجيا حماية البيئة, 
                    الأعمال المصرفية والتمويل, 
                    جودة وسلامة اللأغذية, 
                    الإدارة المكتبية, 
                    مساعد قانوني, 
                    المحاسبة, 
                    التسويق التطبيقي, 
                    الخدمة الاجتماعية في رعاية الايتام.
                    
                    <br> كلية التصاميم والفنون:
                    تصميم الأزياء, 
                    الفنون البصرية,  
                    التصميم الداخلي, 
                    التصميم الجرافيكي, 
                    السكن وإدارة المنزل. 
                    <br> مركز اللغة الإنجليزية.
                </p>

                <p><b>كليات الفروع: </b>
                    <br> الكلية الجامعية في جموم:
                    الدراسات الإسلامية, 
                    اللغة العربية, 
                    الفيزياء, 
                    الكيمياء, 
                     الرياضيات.
                    <br> الكلية الجامعية في القنفذة:
                    اللغة العربية, 
                    الدراسات الإسلامية, 
                    الرياضيات, 
                    التربية الفنية.
                    <br> كلية الهندسة في القنفذة:
                    هندسة التشييد, 
                    الهندسة الصناعية, 
                    هندسة الاتصالات والالكترونيات, 
                    هندسة البيئة.
                    <br> كلية الحاسب الآلي في القنفذة:
                    علوم الحاسب الآلي, 
                    هندسة الحاسب, 
                    نظم المعلومات.
                    <br> كلية الطب في القنفذة:
                     قسم الكيمياء الحيوية, 
                    قسم علم وظائف الأعضاء, 
                    قسم التشريح, 
                    قسم علم الكائنات الدقيقة, 
                    قسم علم الطفيليات, 
                    قسم علم الأدوية والسموم, 
                    قسم الدم والمناعة, 
                    قسم الوراثة الطبية بكلية الطب بالقنفذة, 
                    قسم علم الأمراض, 
                    قسم الطب الباطني, 
                    قسم طب الأطفال, 
                    قسم الجراحة, 
                    قسم طب النساء والولادة, 
                    قسم طب المجتمع والرعاية الصحية.
                    
                    <br> كلية العلوم الصحية في القنفذة:
                    سكرتارية طبية, 
                    صحة عامة, 
                    التمريض, 
                    الخدمات الطبية الطارئة, 
                    <br> الكلية الجامعية في الليث: 
                    الفيزياء, 
                    الدعوة والثقافة الإسلامية, 
                    اللغة الإنجليزية, 
                    الكيمياء.
                    <br> كلية الهندسة في الليث:
                     هندسة الإلكترونيات والاتصالات, 
                    الهندسة الصناعية, 
                    هندسة التشييد, 
                    الهندسة البيئية.

                    <br> كلية الحاسب الآلي في الليث: 
                    علوم الحاسب الآلي, 
                    هندسة الحاسب, 
                    تقنية المعلومات, 
                    نظم المعلومات.

                    <br> كلية العلوم الصحية في الليث: 
                    الصحة العامة, 
                    قسم السكرتارية الطبية, 
                    التمريض, 
                    التخدير, 
                    تقنية الأسنان, 
                    إدارة الأزمات والكوارث, 
                    الإدارة الصحية والمعلوماتية, 
                    الوبائيات - كلية العلوم الصحية بالليث.

                    <br> الكلية الجامعية في محافظة أضم قسم العلوم الأساسية: الرياضيات, الأحياء.

                    <br> الكلية الجامعية في محافظة أضم قسم الحاسب الآلي: علوم الحاسب, نظم المعلومات.

                    <br> الكلية الجامعية في محافظة أضم قسم اللغة العربية: اللغة العربية. اللغة والنحو والصرف.
                </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول:-</p>
                <table class="table" class="t">
                    <tr>
                        <th>الكلية</th>
                        <th>القسم</th>
                        <th>طلاب</th>
                        <th>طالبات</th>
                    </tr>
                    <tr>
                        <td>الشريعة والدراسات الإسلامية</td>
                        <td>الشريعة</td>
                        <td>86.30</td>
                        <td>86.45</td>
                    </tr>
                    <tr>
                      <td> </td>
                      <td> التاريخ والآثار</td>
                      <td> 84.28</td>
                      <td>85.55 </td>
                  </tr>
                  <tr>
                    <td> التربية</td>
                    <td> الطفولة المبكرة</td>
                    <td> - </td>
                    <td> 86.24</td>
                  </tr>
                  <tr>
                    <td> العلوم التطبيقية</td>
                    <td> الأحياء</td>
                    <td> - </td>
                    <td> 85.07</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الأحياء الدقيقة</td>
                    <td>78.52</td>
                    <td> - </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> علوم بيئية</td>
                    <td> 76.83</td>
                    <td> 83.71</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الكيمياء </td>
                    <td> 75.67</td>
                    <td>83.02 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الفيزياء</td>
                    <td> 75.88</td>
                    <td> 82.23</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الكيمياء الصناعية</td>
                    <td> 76.52</td>
                    <td> 84.47</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الفيزياء الطبية</td>
                    <td> 79.66</td>
                    <td> 87.01</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الرياضيات المالية والعلوم الاكتوارية </td>
                    <td> 76.24</td>
                    <td> 83.73</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الرياضيات </td>
                    <td> 75.34</td>
                    <td> 82.22</td>
                  </tr>
                  <tr>
                    <td> اللغة العربية وآدابها</td>
                    <td>اللغة والنحو والصرف </td>
                    <td> 82.54</td>
                    <td>84.50 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> البلاغة والنقد</td>
                    <td> 81.53</td>
                    <td> 84.22</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الأدب</td>
                    <td> 81.45</td>
                    <td>84.48 </td>
                  </tr>
                  <tr>
                    <td> الدعوة وأصول الدين</td>
                    <td> الدعوة والثقافة الإسلامية</td>
                    <td> 76.78</td>
                    <td> 82.44</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الكتاب والسنة</td>
                    <td> 83.17</td>
                    <td>85.37</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> العقيدة</td>
                    <td> 71.89</td>
                    <td> 82.19</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> القراءات</td>
                    <td> 81.07</td>
                    <td>84.08</td>
                  </tr>
                  <tr>
                    <td> العلوم الاجتماعية</td>
                    <td> اللغة الإنجليزية</td>
                    <td> 74.04</td>
                    <td> 74.98</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الجغرافيا </td>
                    <td> 82.22</td>
                    <td> 84.77</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الخدمة الاجتماعية</td>
                    <td> 84.33</td>
                    <td> 87.50</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الإعلام</td>
                    <td> 86.55</td>
                    <td> 89.33</td>
                  </tr>
                  <tr>
                    <td> الهندسة والعمارة الإسلامية</td>
                    <td> العمارة والتخطيط</td>
                    <td> 81.45</td>
                    <td> - </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>كلية الهندسة </td>
                    <td>82.29 </td>
                    <td> - </td>
                  </tr>
                  <tr>
                    <td>الطب </td>
                    <td> كلية الطب والجراحة وطب الأسنان</td>
                    <td> 91.49</td>
                    <td> 94.59</td>
                  </tr>
                  <tr>
                    <td> الحاسب الآلي ونظم المعلومات</td>
                    <td> كلية الحاسب الآلي</td>
                    <td> 84.24</td>
                    <td> 87.67</td>
                  </tr>
                  <tr>
                    <td> العلوم الطبية التطبيقية</td>
                    <td> العلوم الطبية التطبيقية</td>
                    <td> 82.44</td>
                    <td> 87.86</td>
                  </tr>
                  <tr>
                    <td>الصيدلة </td>
                    <td> دكتور صيدلي</td>
                    <td>85.73 </td>
                    <td>90.69 </td>
                  </tr>
                  <tr>
                    <td> التصاميم والفنون</td>
                    <td> التصميم الجرافيكي</td>
                    <td> 85.68</td>
                    <td> 90.00</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الفنون البصرية</td>
                    <td>84.52 </td>
                    <td> 85.92</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> تصميم الأزياء</td>
                    <td>- </td>
                    <td>85.70 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>تصميم المنتجات </td>
                    <td> -</td>
                    <td> 86.88</td>
                  </tr>
                  <tr>
                    <td>الصحة العامة والمعلوماتية الصحية </td>
                    <td> الصحة العامة والمعلوماتية الصحية</td>
                    <td> 80.00</td>
                    <td> 85.82</td>
                  </tr>
                  <tr>
                    <td>إدارة الأعمال </td>
                    <td>إدارة الأعمال </td>
                    <td> 89.03</td>
                    <td> 91.30</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>السياحة والفندقة</td>
                    <td> 87.09</td>
                    <td> 89.22</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> التسويق</td>
                    <td> 86.85</td>
                    <td> 88.87</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> المحاسبة</td>
                    <td>81.03 </td>
                    <td>86.52 </td>
                  </tr>
                  <tr>
                    <td> الدراسات القضائية والأنظمة</td>
                    <td> الدراسات القضائية</td>
                    <td> 87.74</td>
                    <td>- </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الأنظمة</td>
                    <td> 91.69</td>
                    <td> 94.29</td>
                  </tr>
                  <tr>
                    <td> التمريض</td>
                    <td> كلية التمريض</td>
                    <td> 87.44</td>
                    <td> 89.72</td>
                  </tr>
                  <tr>
                    <td>العلوم الاقتصادية والمالية الإسلامية </td>
                    <td>التأمين </td>
                    <td> 85.43</td>
                    <td> 88.77</td>
                  </tr>
                  <tr>
                    <td> الكلية الجامعية بالقنفذة</td>
                    <td> اللغة العربية</td>
                    <td>79.77 </td>
                    <td>83.43 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الرياضيات </td>
                    <td> 73.13</td>
                    <td>80.00 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الدراسات الإسلامية</td>
                    <td> 80.74</td>
                    <td>86.30 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الفيزياء</td>
                    <td> 73.65</td>
                    <td>80.76 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> اللغة الإنجليزية</td>
                    <td> 77.50</td>
                    <td> 80.59</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الكيمياء</td>
                    <td>73.93 </td>
                    <td>81.70 </td>
                  </tr>
                  <tr>
                    <td> الهندسة بالقنفذة</td>
                    <td> كلية الهندسة</td>
                    <td> 76.49</td>
                    <td> -</td>
                  </tr>
                  <tr>
                    <td> الحاسب الآلي بالقنفذة</td>
                    <td> الحاسب الآلي</td>
                    <td>75.44 </td>
                    <td> 82.10</td>
                  </tr>
                  <tr>
                    <td>  الطب بالقنفذة</td>
                    <td> الطب والجراحة</td>
                    <td> 91.59</td>
                    <td>94.24 </td>
                  </tr>
                  <tr>
                    <td>الكلية الجامعية بالجموم </td>
                    <td> الرياضيات</td>
                    <td> 73.85</td>
                    <td> 80.71</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الكيمياء </td>
                    <td> 74.54</td>
                    <td>81.64 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الفيزياء</td>
                    <td> 74.67</td>
                    <td> 81.61</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الأحياء </td>
                    <td> 75.60</td>
                    <td> -</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الخدمة الاجتماعية</td>
                    <td>- </td>
                    <td>86.53 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الحاسب الآلي</td>
                    <td> 78.71</td>
                    <td> 83.34</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>المحاسبة </td>
                    <td> 80.48</td>
                    <td>84.35 </td>
                  </tr>
                  <tr>
                    <td> الكلية الجامعية بالليث</td>
                    <td> الكيمياء</td>
                    <td> -</td>
                    <td> 80.16</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الفيزياء</td>
                    <td> -</td>
                    <td> 80.22</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الرياضيات</td>
                    <td> 73.61</td>
                    <td>76.36 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>اللغة الإنجليزية </td>
                    <td> 77.31</td>
                    <td> 78.50</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الخدمة الاجتماعية </td>
                    <td> 74.78</td>
                    <td>80.70 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> اللغة العربية</td>
                    <td> -</td>
                    <td> 83.22</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>الإعلام </td>
                    <td> 81.37</td>
                    <td> -</td>
                  </tr>
                  <tr>
                    <td> الهندسة بالليث</td>
                    <td> كلية الهندسة</td>
                    <td> 76.44</td>
                    <td> -</td>
                  </tr>
                  <tr>
                    <td> الحاسب الآلي بالليث</td>
                    <td> كلية الحاسب الآلي</td>
                    <td>76.10 </td>
                    <td> 82.41</td>
                  </tr>
                  <tr>
                    <td>العلوم الصحية بالليث </td>
                    <td>الصحة العامة </td>
                    <td>80.63 </td>
                    <td> 86.47</td>
                  </tr>
                  <tr>
                    <td> الكلية الجامعية بأضم</td>
                    <td>اللغة العربية </td>
                    <td> 76.67</td>
                    <td>83.47 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الرياضيات</td>
                    <td> 73.55</td>
                    <td>80.03 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> أحياء</td>
                    <td> -</td>
                    <td> 80.92</td>
                  </tr>

                </table>

                <br><b> دبلومات الكلية التطبيقية: </b>
                <table class="table" class="t">
                  <tr>
                    <th> المقر</th>
                    <th> التخصص</th>
                    <th> طلاب</th>
                    <th> طالبات</th>
                  </tr>
                  <tr>
                    <td> مكة المكرمة</td>
                    <td> البرمجة وعلوم الحاسب</td>
                    <td> 70.01</td>
                    <td> 73.71</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> أمن المعلومات</td>
                    <td>74.11 </td>
                    <td> 81.10</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> تقنية الهندسة المعمارية</td>
                    <td> 70.43</td>
                    <td>- </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> المحاسبة المالية</td>
                    <td> 70.82</td>
                    <td> 75.36</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> التسويق التطبيقي</td>
                    <td> 70.19</td>
                    <td> 78.47</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الأعمال المصرفية والتمويل</td>
                    <td> 70.03</td>
                    <td> 80.24</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> البصريات</td>
                    <td> 71.16</td>
                    <td> -</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td>تكنولوجيا حماية البيئة </td>
                    <td> 71.38</td>
                    <td> 72.84</td>
                  </tr>
                  <tr>
                    <td> القنفذة</td>
                    <td> الموارد البشرية</td>
                    <td> 70.82</td>
                    <td>78.37 </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الإدارة المكتبية</td>
                    <td>70.89 </td>
                    <td>76.30 </td>
                  </tr>
                  <tr>
                    <td>الليث </td>
                    <td>الموارد البشرية </td>
                    <td> 70.86</td>
                    <td> 77.43</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> الإدارة المكتبية</td>
                    <td> 71.74</td>
                    <td> 75.37</td>
                  </tr>
                  <tr>
                    <td> أضم</td>
                    <td> الموارد البشرية</td>
                    <td>70.00 </td>
                    <td> 76.04</td>
                  </tr>
                 
              </table>
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>