<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>الجامعة الإسلامية بالمدينة المنورة</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">الجامعة الإسلامية <br /> بالمدينة المنورة</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\uni-logo.webp">
          </div>
          <div class="home-div1">
            <h4> الجامعة الإسلامية بالمدينة المنورة   </h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                  أنشئت بالأمر الملكي رقم  11وتاريخ  ّ 1381 / 3 / 25هـ وتلاه الأمر الملكي ذو الرقم  ّ 21المؤرخ في 1381 /4 / 16هـ
بالمصادقة على نظام المجلس الاستشاري الأعلى للجامعة، وبدأت الدراسة فيها يوم الأحد  2من جمادى الآخرة فـي العام
نفسه.
وفي  ّ 1386 / 5 / 18هـ صدر المرسوم الملكي رقم م/ 18بالموافقة على نظام الجامعة. ثم صدر نظام آخر للجامعة؛ وفقاً
ّ للمرسوم الملكي ّ ذي الرقم م/ ّ 70المؤرخ في 1395 / 8 / 7هـ 
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <p><br>- كلية الشريعة
                  <br>- كلية الدعوة وأصول الدين
                 <br>- كلية القرآن الكريم والدراسات الإسلامية
                 <br>- كلية الحديث الشريف والدراسات الإسلامية
                 <br>- كلية اللغة العربية
                 <br>- كلبة الهندسة
                 <br>- كلية الحاسب الآلي
                 <br>- كلية العلوم
                 <br>- السنة الأولى المشتركة
                 <br>- كلية الأنظمة والدراسات القضائية
                 <br>- معهد تعليم اللغة العربية لغير الناطقين بها
                 
                  <p><b>الأقسام:</b></p>
                  <b>كلية الشريعة: </b>
                  <br>
                  قسم الفقة, قسم أصول الفقه, قسم الاقتصاد الإسلامي.<br>

                  <p><b>كلية الدعوة وأصول الدين: </b>
                 <br> 
                قسم العقيدة, قسم الدعوة والثقافة الإسلامية, قسم التاريخ الإسلامي, قسم التربية.</p>

                  <p><b>كلية القرآن الكريم والدراسات الإسلامية: </b>
                  <br>
                  قسم التفسير وعلوم القرآن, قسم القراءات.
                </p>
                  <p><b>كلية الحديث الشريف والدراسات الإسلامية: </b>
                  <br>
                  قسم فقه السنة ومصادرها, قسم علوم الحديث.
                </p>
                <p><b>كلية اللغة العربية: </b>
                  <br>
                قسم اللغويات, قسم الأدب والبلاغة, قسم الإعلام.
                </p>
                <p><b>كلية الهندسة: </b>
                  <br>
                 قسم الهندسة الكهربائية, قسم الهندسة الميكانيكية, قسم الهندسة المدنية.
                </p>
                <p><b>كلية الحاسب الآلي:  </b>
                  <br>
                  قسم علوم الحاسب, قسم تقنية المعلومات, قسم نظم المعلومات.
                </p>
                <p><b>كلية العلوم: </b>
                  <br>
                  قسم الرياضيات, قسم الفيزياء, قسم الكيمياء, قسم الأحياء.
                </p>
                <p><b>السنة الأولى المشتركة: </b>
                  <br>
                  السنة المشتركة للكليات النظرية, السنة المشتركة للكليات العلمية.
                </p>
                <p><b>كلية الأنظمة والدراسات القضائية: </b>
                  <br>
                  قسم الأنظمة, قسم الدراسات القضائية.
                </p>
                <p><b>معهد تعليم اللغة العربية لغير الناطقين بها: </b>
                  <br>
                  قسم الإعداد اللغوي, قسم تدريب المعلمين.
                </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -1444هـ-:</p>
                
                <table class="table">
                  <tr>
                      <th>الكلية</th>
                      <th>نسب القبول</th>
                  </tr>
                  <tr>
                      <td>كلية اللغة العربية</td>
                      <td>83%</td>
                  </tr>
                  <tr>
                      <td>كلية الدعوة والعقيدة</td>
                      <td>83%</td>
                  </tr>
                  <tr>
                      <td>كلية الحديث الشريف</td>
                      <td>83%</td>
                  </tr>
                  <tr>
                      <td>كلية القرآن الكريم</td>
                      <td>83%</td>
                  </tr>
                  <tr>
                      <td>كلية العلوم</td>
                      <td>83%</td>
                  </tr>
                  <tr>
                      <td>كلية الاقتصاد</td>
                      <td>85.5%</td>
                  </tr>
                  <tr>
                      <td>كلية الشريعة</td>
                      <td>84%</td>
                  </tr>
                  <tr>
                      <td>كلية الأنظمة</td>
                      <td>86%</td>
                  </tr>
                  <tr>
                      <td>كلية الحاسب الآلي</td>
                      <td>84%</td>
                  </tr>
                  <tr>
                      <td>كلية الهندسة</td>
                      <td>87%</td>
                  </tr>
              </table>


              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>