<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة نجران</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة نجران</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\نجران.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة نجران</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
              تسعى جامعة نجران إلى الارتقاء بالبرامج الأكاديمية إلى المستوى العالمي، وتزويد الطلاب والطالبات بكفاءات عالية
             تلائم المستقبل، ورفع كفاءة أعضاء هيئة التدريس، واستخدام أحدث التقنيات، 
            وموافقة مصادر التعلم للمعايير القياسية
            ، والخدمات المميزة للطلاب والطالبات، وتحقيق معايير الجودة الشاملة عبر تطوير الأنظمة المالية
            والإدارية، وتطوير مجال البحث العلمي وبرامج الدراسات العليا، والسعي للشراكة والتعاون محليا وإقليميا وعالميا.
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <br><b>- كلية العلوم الطبية التطبيقية, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية علوم الحاسب ونظم المعلومات, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية التربية, وتمنح درجة البكالوريوس</b>
                <br><b>- الكلية التطبيقية, وتمنح درجة الدبلوم الجامعي</b>
                <p><b>- كلية الطب, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية طب الأسنان, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية العلوم الإدارية, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية الصيدلة, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية الهندسة, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية اللغات, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية العلوم والآداب, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية العلوم والآداب في شرورة, وتمنح درجة البكالوريوس</b>
                <br><b>- كلية التمريض, وتمنح درجتي البكالوريوس والدبلوم</b>
                <br><b>- كلية الشريعة وأصول الدين, وتمنح درجة البكالوريوس</b>

                <p><b>الأقسام:</b></p>
                <p><b>كلية العلوم الطبية التطبيقية: </b>
                  <br>
                  طقسم علوم المختبرات الإكلينيكية, 
                  قسم العلوم الإشعاعية, 
                  قسم علوم التأهيل الطبي.
                </p>
              
                <p><b>كلية علوم الحاسب ونظم المعلومات: </b>
                <br> علوم الحاسبات, 
                   نظم المعلومات, 
                   هندسة الشبكات والاتصالات.
                </p>
                <p><b>كلية التربية: </b>
                <br>قسم علم النفس, 
                  قسم الاقتصاد المنزلي, 
                  قسم الطفولة المبكرة, 
                   قسم التربية الخاصة.
                  </p>
                <p><b>الكلية التطبيقية</b>
                  <br>قسم علوم الحاسب, قسم العلوم الإدارية.
               </p>
                <b>كلية الطب: </b>
                  <br> قسم الجراحة, 
                  قسم الكائنات الدقيقة, 
                  قسم الباطنة, 
                  قسم وظائف الأعضاء, 
                  قسم طب الأسرة والمجتمع, 
                  قسم طب الأطفال, 
                  قسم علم الأمراض, 
                  قسم النساء والتوليد, 
                  قسم الكيمياء الحيوية.
                </p>
                <p><b>كلية طب الأسنان: </b>
                 <br> قسم وقاية الأسنان, 
                  قسم إصلاح الأسنان, 
                  قسم علوم الاستعاضة, 
                  قسم جراحة الوجه والفكين وعلوم التشخيص.
                </p>
                <p><b>كلية العلوم الإدارية: </b>
                  <br> قسم إدارة الأعمال, 
                   قسم الإدارة العامة, 
                   قسم المحاسبة, 
                   قسم نظم المعلومات الإدارية, 
                   قسم الأنظمة, 
                   قسم التسويق والتجارة الإلكترونية.
                 </p>
                <p><b>كلية الصيدلة: </b>
                  <br>قسم الصيدلانيات, 
                   قسم الصيدلة السريرية, 
                   قسم العقاقير, 
                   قسم علم الأدوية, 
                   قسم الكيمياء الصيدلانية.
                     </p>
                  <p><b>كلية الهندسة: </b>
                  <br>  قسم الهندسة الكهربائية, 
                  قسم الهندسة المدنية, 
                   قسم الهندسة المعمارية.</p>
                  </p>
                  <p><b>كلية اللغات: </b>
                     <br> قسم اللغة الإنجليزية, 
                     قسم الترجمة.
                  </p>
                  <p><b>كلية العلوم والآداب: </b>
                      <br>  التخصصات العلمية:
                      قسم الرياضيات, 
                      قسم الفيزياء, 
                     قسم الكيمياء, 
                      قسم الأحياء, 
                      <br> التخصصات النظرية:
                      قسم اللغة العربية.
                  </p>
                <p><b>كلية العلوم والآداب في شرورة: </b>
                     <br> التخصصات العلمية:
                     قسم الكيمياء, 
                     قسم الرياضيات, 
                     قسم علوم الحاسب.<br>
                     التخصصات النظرية:
                     قسم اللغة العربية, 
                     قسم الدراسات الإسلامية, 
                     قسم اللغة الانجليزية, 
                     قسم التربية ورياض الأطفال.
                </p>
                 <p><b>كلية العلوم والآداب في المخواة:  </b>
                     <br> الرياضيات, 
                     الفيزياء, 
                     الأحياء, 
                     الكيمياء, 
                     الاقتصاد المنزلي - مسار تغذية, 
                     الدراسات الإسلامية, 
                     اللغة العربية, 
                     اللغة الإنجليزية. 
                 </p>
                <p><b>كلية التمريض: </b>
                     <br>  درجة البكالوريوس: 
                     التمريض العام. <br>
                     درجة الدبلوم: قسم إدارة وتعلم التمريض, 
                     قسم التمريض الباطني والجراحي, 
                    قسم تمريض صحة الأمومة والطفولة, 
                    قسم تمريض صحة المجتمع والصحية النفسية والعقلية.
                </p>
                <p><b>كلية الشريعة وأصول الدين: </b>
                     <br> قسم الشريعة, قسم أصول الدين.
                </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول-1444هـ-: </p>
                <table class="table" class="t">
                  <tr>
                      <th>المقر</th>
                      <th>الدرجة</th>
                      <th>الكلية</th>
                      <th>التخصص</th>
                      <th>بنين</th>
                      <th>بنات</th>
                  </tr>
                  <tr>
                      <td>نجران</td>
                      <td>البكالوريوس</td>
                      <td>التربية</td>
                      <td>علم النفس</td>
                      <td>79.28</td>
                      <td>84.10</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>طفولة مبكرة </td>
                    <td>-  </td>
                    <td>82.88 </td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> اللغات والترجمة</td>
                  <td> الترجمة</td>
                  <td> 76.99</td>
                  <td> 84.22</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> اللغة الإنجليزية</td>
                  <td> 74.09</td>
                  <td> 82.65</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> العلوم والآداب</td>
                  <td> الرياضيات</td>
                  <td>70.03 </td>
                  <td> 73.58</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> الفيزياء</td>
                  <td> 70.18</td>
                  <td> 74.57</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>الكيمياء </td>
                  <td> -</td>
                  <td>44.38 </td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> علم الأحياء</td>
                  <td> 74.90</td>
                  <td> -</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> اللغة العربية</td>
                  <td> 70.70</td>
                  <td> 78.30</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> العلوم الإدارية</td>
                  <td> إدارة الأعمال</td>
                  <td> 80.72</td>
                  <td> 86.34</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> الأنظمة</td>
                  <td> 80.19</td>
                  <td> 87.30</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> المحاسبة</td>
                  <td> 80.88</td>
                  <td> 84.53</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> التسويق والتجارة الإلكترونية</td>
                  <td> 81.93</td>
                  <td>88.83 </td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> الشريعة وأصول الدين</td>
                  <td> الشريعة</td>
                  <td> 70.02</td>
                  <td> 78.30</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> أصول الدين</td>
                  <td> 70.05</td>
                  <td>77.83 </td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> التمريض</td>
                  <td> تمريض عام</td>
                  <td> 84.88</td>
                  <td> 81.06</td>
                </tr>
                <tr>
                  <td> </td>
                  <td>السنة التحضيرية </td>
                  <td> سنة تحضيرية</td>
                  <td> عام</td>
                  <td> 70.03</td>
                  <td>70.05 </td>
                </tr>
                <tr>
                  <td> </td>
                  <td> الدبلوم</td>
                  <td> الكلية التطبيقية</td>
                  <td> نظم المعلومات</td>
                  <td> 74.43</td>
                  <td> 76.65</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>المحاسبة </td>
                  <td> 68.45</td>
                  <td>79.46 </td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> التسويق التطبيقي</td>
                  <td> 62.48</td>
                  <td> 78.99</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>البرمجة وقواعد البيانات </td>
                  <td> 62.15</td>
                  <td> 72.17</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> أمن المعلومات</td>
                  <td> 74.17</td>
                  <td> 73.72</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> الدعم الفني</td>
                  <td> 62.07</td>
                  <td> 71.32</td>
                </tr>
                <tr>
                  <td> شرورة</td>
                  <td> </td>
                  <td> </td>
                  <td>إدارة الأعمال </td>
                  <td> 64.52</td>
                  <td> 79.98</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> المحاسبة</td>
                  <td> 62.83</td>
                  <td> 76.12</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> البرمجة وقواعد البيانات</td>
                  <td> 66.63</td>
                  <td> 67.84</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>أمن المعلومات</td>
                  <td> - </td>
                  <td> 75.34</td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>الدعم الفني </td>
                  <td> - </td>
                  <td> 67.00</td>
                </tr>
              </table>
                
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>