<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة الحدود الشمالية</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة الحدود الشمالية</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\nbulogo.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة الحدود الشمالية   </h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    نحن جامعة شاملة تخدم الأهداف المحلية للمنطقة، مع الالتزام بتحقيق التميز التعليمي. وانطلاقاً من قيمنا الرئيسية و تراثنا التاريخي و موقعنا الجغرافي، نقدم برامج تعليمية مبتكرة تتسم بمخرجاتها التي تزيد من فعالية الموارد البشرية، والاقتصادية، والثقافية، والطبيعية لمنطقة الحدود الشمالية و خارجها.
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات والأقسام </b>
                <br />
                <u><b>عرعر</b></u><br />
                <b>كلية العلوم:</b>
                  <br>
                  قسم الفيزياء<br />
                  قسم الرياضيات<br />
                  قسم الاحياء<br />
                  قسم الكيمياء<br />
                  قسم علوم الحاسبات<br />


                  <br /><b>كلية الهندسة :</b><br />
                  قسم الهندسة الصناعية<br />
                  قسم الهندسة الكهربائية<br />
                  قسم الهندسة الكيميائية وهندسة المواد<br />
                  قسم الهندسة المدنية<br />
                  قسم الهندسة الميكانيكية<br />

                 <br /> <b>كلية الطب  :</b> <br />
                 قسم التشريح<br />
                 قسم الكائنات الدقيقة<br />
                 قسم أمراض النساء والولادة<br />
                 قسم علم الأمراض<br />
                 قسم وظائف الأعضاء<br />
                 قسم الجراحة<br />
                 قسم طب الأطفال<br />
                 قسم الأنف والأذن والحنجرة<br />
                 قسم الكيمياء الحيوية السريرية<br />
                 قسم طب الأسرة والمجتمع<br />
                 قسم علم الأدوية<br />
                 قسم الأمراض الباطنة<br />
                 

                  <br><b>كلية التربية والآداب:</b><br />
                  قسم اللغة العربية<br />
                  قسم التربية الخاصة<br />
                  قسم الدراسات الإسلامية<br />
                  علم النفس<br />
                  قسم المقررات العامة<br />
                  المناهج وتقنيات التعليم<br />
                  القيادة والسياسات التربوية<br />
                  قسم اللغات والترجمة<br />
                  

                  <br /><b>كلية الاقتصاد المنزلي:</b><br />
                  قسم التغذية وعلوم الأطعمة<br />
                  قسم الملابس والنسيج<br />
                  قسم الإسكان وإدارة المنزل<br />
                  
     
                  <br> <b>كلية إدارة الاعمال:</b> <br />
                  قسم الموارد البشرية<br />
                  قسم القانون<br />
                  قسم المحاسبة<br />
                  قسم التسويق<br />
                  قسم التمويل والتأمين<br />
                  قسم نظم المعلومات الإدارية<br />
                  

                  <br /><b>الكلية التطبيقية : </b><br />
                  برنامج تقنية الحاسبات<br />
                  برنامج المحاسبة<br />
                  برنامج إدارة وتنظيم الفعاليات<br />
                  برنامج التجارة الإلكترونية<br />
                  برنامج إدارة المستودعات وسلاسل الأمداد<br />
                  المحاسبة والضرائب<br />
                  برنامج الأمن السيبراني<br />
                  برنامج تقنية المعلومات<br />
                  برنامج إدارة الموارد البشرية<br />
                  برنامج البرمجة وعلوم الحاسب<br />
                  برنامج التصميم الجرافيكي والوسائط الرقمية<br />
                  برنامج هندسة التعدين<br />
                  
                  <br />
                <u><b>رفحاء</b></u><br />
                <b>كلية العلوم والآداب:</b>
                  <br>
                  قسم اللغات والترجمة<br>
                  قسم الفيزياء<br>
                  قسم المواد العامة<br>
                  قسم الكيمياء<br>
                  قسم الرياضيات<br>
                  قسم التربية<br>
                  قسم الاقتصاد المنزلي<br>
                  قسم الاحياء  <br>                


                  <br /><b>كلية الصيدلة :</b><br />
                  قسم الصيدلة السريرية<br />
                  قسم كيمياء النبات و النواتج الطبيعية<br />
                  قسم الصيدلانيات<br />
                  قسم علم الأدوية والسموم<br />
                  قسم الكيمياء الصيدلية<br />
                  قسم العلوم الصحية الاساسية<br />
                  

                 <br /> <b>كلية الحاسبات وتقنية المعلومات:</b> <br />
                 قسم تقنية المعلومات<br />
                 قسم نظم المعلومات<br />
                 قسم علوم الحاسبات<br />               
                 
                 <br />
                <u><b>طريف</b></u><br />
                <b>كلية العلوم والآداب:</b>
                  <br />
                  قسم الفيزياء<br />
                  قسم الحاسبات وتقنية المعلومات<br />
                  قسم التسويق<br />
                  قسم رياض الأطفال<br />
                  قسم الكيمياء<br />
                  قسم الرياضيات<br />
                  اللغة الإنجليزية<br />
                  
                  <br />
                  <u><b>العويقلية</b></u><br />
                  قسم علوم الحاسبات <br />
                  قسم اللغات والترجمة<br />
                  قسم الكيمياء<br />     

              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -1444هـ-:</p>
                <table class="table">
                  <tr>
                      <td>المسار</td>
                      <td>نسب القبول</td>
                  </tr>
                  <tr>
                      <td>كلية الهندسة </td>
                      <td>85</td>
                  </tr>
                  <tr>
                      <td>الكليات الصحية </td>
                      <td>90</td>
                  </tr>
                  <tr>
                      <td>كلية التمريض </td>
                      <td>85</td>
                  </tr>
                  <tr>
                      <td>الصيدلة رفحاء</td>
                      <td>85</td>
                  </tr>
                  <tr>
                      <td>كلية الحاسبات وتقنية المعلومات</td>
                      <td>75</td>
                  </tr>
                  <tr>
                      <td>العلوم الطبية التطبيقية  </td>
                      <td>88</td>
                  </tr>
                  <tr>
                      <td>كلية التربية</td>
                      <td>75</td>
                  </tr>
                  <tr>
                      <td>إدارة الاعمال</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>كلية العلوم </td>
                      <td>75</td>
                  </tr>
                  <tr>
                      <td>الاقتصاد المنزلي </td>
                      <td>75</td>
                  </tr>
                  <tr>
                    <td>كلية العلوم والآداب</td>
                    <td>75</td>
                  </tr>
                  <tr>
                    <td>الكليات التطبيقية، عرعر، رفحاء، طريف  </td>
                    <td>70</td>
                  </tr>
                  <tr>
                    <td>كلية العلوم والآداب، العويقيلة  </td>
                    <td>75</td>
                  </tr>
              </table>

              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>