<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة القصيم </title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة القصيم </h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\القصيم.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة القصيم</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    انطلقت الجامعة باسمها الجديد (جامعة القصيم) حاملة إرثًا أكاديميًّا وبحثيًّا يمتد إلى أكثر من أربعة عقود في المنطقة إذ
إن بعض الكليات استقبلت طلابها منذ العام 1401هـ. وأنشئت الجامعة تنفيذًا للخطة الوطنية في توسيع التعليم العالي
والجامعات، وصدر القرار السامي ذو الرقم /22042ب/ 7بإنشاء جامعة القصيم في العام الدراسي 1423 / 1424هـ
وكانت حينها تشتمل على سبع كليات تابعة لفرعي جامعة الإمام محمد بن سعود الإسلامية وجامعة الملك سعود في منطقة
القصيم؛ وبهذا أصبحت الجامعة الأولى في المنطقة. <br>
وتعدُّ جامعة القصيم من أوائل الجامعات الحديثة، بعد الجامعات السبع، من حيث النشأة والتطور والتوسع وتحقيقًا
ً لتوجيهات حكومة خادم الحرمين الشريفين للنهوض بالعملية التعليمية، فقد فتحت كليات جديدة نظرا لتزايد أعداد خريجي
الثانوية العامة في جميع مناطق القصيم. وارتفع عدد الكليات في العام الجامعي 1428/1427هـ نتيجة لضم كليات
المعلمين وكليات التربية للبنات في مدن منطقة القصيم (وعددها تسع كليات) إلى الجامعة. كما شهد العام الجامعي
1429/1428هـ ضم وإعادة هيكلة الكليات الصحية (وعددها أربع) والتي كانت تابعة لوزارة الصحة.واستمر التوسع في
إنشاء الكليات الجديدة في جامعة القصيم ليصل العدد حاليًّا إلى (38) كلية متواجدة في (12) محافظة في منطقة القصيم
إضافة إلى المقر الرئيس في المدينة الجامعية بالمليداء، بالإضافة إلى عمادة الخدمات التعليمية المشرفة على السنة
التحضيرية وعمادة خدمة المجتمع المشرفة على برامج الدبلومات المختلفة.
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <p><b>- الكليات الشرعية</b>
                  <br>• كلية الشريعة والدراسات الإسلامية
                  
                  <br><b>- الكلية التطبيقية</b>
                  <br>
                  
                • المقر الرئيس
                • فرع عنيزة
                • مقر الرس
                • دبلومات عمادة التعلم الإلكتروني والتعليم عن بعد

                  <br><b>- الكليات العربية والإنسانية</b>
                  <br>
                  
                • كلية اللغة العربية والدراسات الاجتماعية
                • كلية الاقتصاد والإدارة
                • كلية التربية
                • كلية إدارة الأعمال بمحافظة الرس
                  <br><b>- كليات العلوم والآداب</b>
                  <br>
                  
                • كلية العلوم والآداب ببريدة
                • كلية العلوم والآداب بعنيزة
                • كلية العلوم والآداب بالرس
                • كلية العلوم والآداب بالبكيرية
                • كلية العلوم والآداب بالمذنب
                • كلية العلوم والآداب برياض الخبراء
                • كلية العلوم والآداب بعقلة الصقور
                • كلية العلوم والآداب بالبدائع
                • كلية العلوم والآداب بالأسياح
                • كلية العلوم والآداب بضرية
                • كلية العلوم والآداب بعيون الجواء
                • كلية العلوم والآداب بالنبهانية
                
                <br><b>- الكليات الهندسية والعلمية</b>
                <br>
                
                • الزراعة والطب البيطري
                • العلوم
                • الحاسب
                • الهندسة
                • الهندسة بمحافظة عنيزة
                • التصاميم
                • العمارة والتخطيط

                <br><b>- الكليات الصحية </b>
                <br>
                  
                • الطب
                • العلوم الطبية التطبيقية
                • الصيدلة  
                • الصيدلة بمحافظة عنيزة
                • طب الأسنان
                • طب الأسنان بمحافظة الرس• التأهيل الطبي
                • الطب والعلوم الطبية بعنيزة
                • العلوم الصحية بمحافظة الرس
                • الصحة العامة والمعلوماتية بالبكيرية
                • التمريض
                <br><b>- برنامج السنة التحضيرية</b>
                <br>

                  <p><b>الأقسام:</b></p>
                  <b>الكليات الشرعية: </b>
                  <br>كلية الشريعة والدراسات الإسلامية,
                 القرآن وعلومه, 
                 السنة وعلومها, 
                 الفقه, 
                 أصول الفقه,     
                العقيدة والمذاهب المعاصرة, 
                الدعوة والثقافة الإسلامية, 
                الأنظمة.
                
                  <p><b>الكلية التطبيقية: </b>
                 <br> المقر الرئيس: 
                 الجرافيكس والوسائط المتعددة, 
                 المحاسبة العامة, 
                 التسويق والمبيعات, 
                  تحليل البيانات.
                  <br>مقر عنيزة:  
                الأمن السيبراني, 
                البرمجة والتطبيقات, 
                 تطوير الويب, 
                تصميم صفحات الويب وتجربة المستخدم, 
                 التسويق الرقمي, 
                إدارة سلاسل الإمداد والعمليات اللوجستية.
                  <br>مقر الرس: 
                  محضري المختبرات.
                <br> دبلوم عماة التعلم الإلكتروني والتعليم عن بعد:
                دبلوم المحاسبة, 
                دبلوم إدارة المبيعات, 
                دبلوم اللوجستيات وسلاسل الإمداد, 
                التسويق الرقمي.
                </p>
                  <p><b>الكليات العربية والإنسانية:</b>
                  <br>كلية اللغة العربية والدراسات الاجتماعية: 
                اللغة العربية وآدابها, 
                اللغة الإنجليزية والترجمة, 
                الجغرافيا, 
                التاريخ, 
                الاجتماع والخدمة الاجتماعية, 
                وحدة تعليم اللغة العربية لغير الناطقين بها.
                  <br>كلية الاقتصاد والإدارة:
                  إدارة الأعمال, 
                الاقتصاد والتمويل, 
                نظم المعلومات الإدارية وإدارة الإنتاج, 
                المحاسبة. 
                  <br>كلية التربية:
                  أصول التربية, 
                  المناهج وطرق التدريس, 
                  تقنيات التعليم, 
                  علم النفس, 
                  التربية الخاصة, 
                  التربية البدنية وعلوم الحركة, 
                  رياض الأطفال, 
                  التربية الفنية, 
                  التعليم الأساسي. 
                  <br>كلية إدارة الأعمال في محافظة الرس: 
                  الإعداد العام, 
                  قسم الإدارة والتسويق, 
                  قسم الاقتصاد والتمويل, 
                  قسم نظم المعلومات الإدارية, 
                  قسم المحاسبة. 
                   </p>

                  <p><b>كليات العلوم والآداب:</b>
                  <br>كلية العلوم والآداب في بريدة:
                  اللغة العربية وآدابها, 
                  اللغة الإنجليزية والترجمة, 
                  الجغرافيا, 
                  التاريخ, 
                  الاجتماع والخدمة الاجتماعية, 
                  وحدة تعليم اللغة العربية لغير الناطقين بها.
                  <br>كلية العلوم والآداب في عنيزة:
                  <br> <u>أقسام الطالبات:</u>
                  الأسرة والطفولة, 
                  التربية الخاصة, 
                 الشريعة, 
                  اللغة العربية, 
                  اللغة الإنجليزية, 
                  الأحياء, 
                  الحاسب الآلي, 
                  الرياضيات, 
                  الفيزياء, 
                  علوم أساسي.
                  <br> <u>أقسام الطلاب: </u>
                  الأحياء, 
                  اللغة العربية, 
                  اللغة الإنجليزية, 
                  الرياضيات.
                  <br>كلية العلوم والآداب في الرس: 
                  <br>الدراسات الإسلامية: 
                 القرآن وعلوم, 
                  السنة وعلومها, 
                  العقيدة والمذاهب المعاصرة,
                  <br>  - اللغة العربية
                 <br> - اللغة الإنجليزية
                 <br>- الرياضيات
                <br> - الفيزياء
                 <br>-  الكيمياء
                <br> الحاسب الآلي:
                  علوم الحاسب, 
                  تقنية المعلومات.
                 <br> التربية الخاصة:
                  الإعاقة العقلية, 
                  الإعاقة السمعية, 
                  الإعاقة البصرية, 
                 صعوبات التعلم, 
                 الموهبة والتفوق العقلي, 
                  اضطراب التوحد, 
                  اضطرابات النطق والكلام, 
                  <br> التعليم الأساسي:
                الدراسات القرآنية, 
                اللغة العربية, 
                 العلوم الأساسي, 
                  الرياضيات الأساسي.
                  <br> الأسرة والطفولة:
                  علوم الأسرة والطفولة.
                  <br>
                 مختبرات العلوم.


                  <br>كلية العلوم والآداب في البكيرية: 
                 الدراسات الإسلامية, 
                 الفيزياء الرياضيات, 
                 اللغة الإنجليزية والترجمة. 
                 <br> كلية العلوم والآداب في رياض الخبراء: 
                 الرياضيات, الفيزياء, رياض الأطفال.
                 <br> كلية العلوم والآداب في عقلة الصقور:
                 الرياضيات, 
                 الفيزياء, 
                 التعليم الأساسي:
                (الدراسات القرآنية, 
                اللغة العربية, 
                التعليم الأساسي), 
                اللغة الإنجليزية, 
                الموارد البشرية, 
                الدراسات الإسلامية:
                (القرآن وعلومه, 
                 السنة وعلومها, 
                العقيدة والمذاهب المعاصرة).
                <br> كلية العلوم والآداب في البدائع:
                الرياضيات, الفيزياء, اللغة الإنجليزية والترجمة.
                <br> كلية العلوم والآداب في الأسياح:
                اللغة الإنجليزية,
                 الفيزياء, 
                 الرياضيات, 
                 الدراسات الإسلامية, 
                 إعداد علوم. 
                 <br> كلية العلوم والآداب في ضرية:
                 الرياضيات, الفيزياء, التعليم الأساسي.
                 <br>كلية العلوم والآداب في عيون الجواء: 
                  الرياضيات, 
                  الفيزياء, 
                  التربية الخاصة:
                  (الإعاقة العقلية, 
                  الإعاقة السمعية, 
                  الإعاقة البصرية, 
                  صعوبات التعلم, 
                  الموهبة والتفوق العقلي, 
                  اضطراب التوحد, 
                  اضطرابات النطق والكلام), 
                  الأنظمة.
                  <br> كلية العلوم والآداب في النبهانية: 
                  الرياضيات, 
                الفيزياء, 
                اللغة الإنجليزية, 
                الدراسات الإسلامية, 
                الإعداد العام.
                
                <p><b>كليات الهندسة والعلوم:</b>
                    <br> الزراعة والطب البيطري:
                    إنتاج النبات ووقايته, 
                    الطب البيطري, 
                    علوم الأغذية وتغذية الإنسان, 
                    إنتاج الحيوان وتربيته. 
                    <br>العلوم: 
                    الرياضيات, الفيزياء, الكيمياء, الأحياء, الإحصاء.
                    <br>الحاسب: 
                    علوم الحاسب, تقنية المعلومات, هندسة الحاسب.
                    <br>الهندسة:
                    الهندسة الكهربائية, الهندسة الميكانيكية, الهندسة المدنية.
                    <br> الهندسة في محافظة عنيزة: 
                    الهندسة الكهربائية, الهندسة الميكانيكية, الهندسة المدنية.
                    <br>التصاميم: 
                    تصميم الأزياء.
                    <br>العمارة والتخطيط:
                    العمارة.
                    <p><b>الكليات الصحية: </b>
                        <br> الطب: 
                        التشريح والأنسجة, 
                    قسم علم وظائف الأعضاء, 
                    قسم علم الأمراض, 
                    قسم الأدوية والعلاجات, 
                    قسم طب الباطنة, 
                    قسم أمراض النساء والولادة, 
                    قسم الجراحة العامة, 
                    قسم طب الأسرة والمجتمع, 
                    قسم طب الأطفال, 
                    قسم الأنف والأذن والحنجرة, 
                    قسم طب وجراحة العيون, 
                    قسم جراحة العظام, 
                    قسم الأشعة والتصوير الطبي, 
                    قسم الأمراض الجلدية, 
                    قسم الطب النفسي, 
                    قسم التعليم الطبي.
                        <br> العلوم الطبية التطبيقية: 
                        المختبرات الطبية, 
                        البصريات, 
                        تقنيات الأشعة, 
                        التقنية الحيوية الطبية, 
                        العلوم الصحية الأساسية.
                        <br> الصيدلة: 
                    ممارسة الصيدلة, 
                    علم الأدوية والسموم, 
                    قسم الكيمياء الطبية والعقاقير, 
                    الصيدلانيات.
                        <br> الصيدلة في محافظة عنيزة:
                    ممارسة الصيدلة, 
                    علم الأدوية والسموم, 
                    قسم الكيمياء الطبية والعقاقير, 
                    الصيدلانيات.
                        <br> طب الأسنان:
                        علوم الاستعاضة السنية, 
                        علاج اللثة وطب الفم, 
                        علوم طب الأسنان التحفظية, 
                        التقويم وطب أسنان الأطفال, 
                        جراحة الوجه والفكين وعلوم التشخيص, 
                        طب المجتمع لصحة الفم وعلم الأوبئة, 
                        المعلوماتية السنية وتعليم طب الأسنان, 
                        العلوم الأساسية الفموية والطبية.
                        <br> طب الأسنان في محافظة الرس:
                        إصلاح الأسنان, 
                        الاستعاضة السنية, 
                        طب الأسنان الوقائي, 
                        جراحة الوجه والفم والفكين وعلوم التشخيص.
                        <br> التأهيل الطبي:
                        العلاج الطبيعي, 
                        العلاج الوظيفي, 
                        علاج علل النطق والسمع, 
                        التأهيل النفسي والعقلي, 
                        الأطراف الصناعية والأجهزة التعويضية.
                        <br> الطب والعلوم الطبية في عنيزة: 
                        العلوم الطبية الأساسية, 
                        الأشعة والتصوير الطبي, 
                        طب الأسرة والمجتمع, 
                        النساء والولادة, 
                        طب الأطفال, 
                        الباطنة, 
                        الجراحة, 
                        طب الطوارئ.
                        <br> العلوم الصحية التطبيقية في محافظة الرس:
                        التغذية العلاجية, 
                        صحة الفم والأسنان, 
                        الأجهزة الطبية, 
                        تقنية الأسنان, 
                        الأشعة التشخيصية. 
                        <br> الصحة العامة والمعلوماتية في البكيرية:
                        الإدارة الصحية, 
                        المعلوماتية الصحية, 
                        الصحة العامة.
                        <br> التمريض: 
                        التعليم التمريضي, 
                        تمريض باطني وجراحي, 
                        تمريض صحة الأم والطفل, 
                        تمريض الصحة النفسية والعقلية وصحة المجتمع.
                        <p><b>برنامج السنة التحضيرية:</b>
                            المسار المشترك, المسار الصحي, المسار العلمي.
                </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -:</p>
                <br><b> تخصيص السنة التحضيرية للطالبات: </b>
                <table class="table" class="t">
                  <tr>
                      <th>  المسار</th>
                      <th>  المقر </th>
                      <th>  التخصص </th>
                      <th>أدنى معدل تراكمي </th>
                  </tr>
                  <tr>
                      <td>المسار الصحي</td>
                      <td>المقر الرئيس للطالبات</td>
                      <td> المختبرات الطبية</td>
                      <td>3.26</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> </td>
                    <td> بصريات</td>
                    <td>3.93</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> تمريض</td>
                    <td>3.85</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> دكتور صيدلي</td>
                    <td>3.61</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> طب وجراحة</td>
                    <td>4.65</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td>طب وجراحة الفم والأسنان </td>
                    <td>4.31</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> مقر كليات البنات-البكيرية </td>
                    <td> المعلوماتية الصحية</td>
                    <td>2.81</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> مقر كليات البنات-بريدة</td>
                    <td> علاج طبيعي</td>
                    <td>3.33</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> مقر كليات البنات-عنيزة</td>
                    <td> العلوم الطبية الأساسية</td>
                    <td>4.57</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> دكتور صيدلة</td>
                    <td>3.57</td>
                </tr>
                <tr>
                    <td> المسار العلمي </td>
                    <td> المقر الرئيس للطالبات</td>
                    <td> حاسب آلي-غير محدد</td>
                    <td>2.08</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>مقر كليات البنات-الرس </td>
                    <td> حاسب آلي-غير محدد </td>
                    <td>2.35</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> مقر كليات البنات-عنيزة</td>
                    <td> حاسب آلي-غير محدد</td>
                    <td>2.13</td>
                </tr>
              </table>
                <p>  - أدنى معدل معياري توقف عليه تخصيص المسار الصحي للطالبات هو 82.5</p>

                
                <br><b> تخصيص السنة التحضيرية للطلاب: </b>
                <table class="table" class="t">
                  <tr>
                      <th>  المسار</th>
                      <th>  المقر </th>
                      <th>  التخصص </th>
                      <th>أدنى معدل تراكمي </th>
                  </tr>
                  <tr>
                      <td>المسار الصحي</td>
                      <td>المقر الرئيس للطلاب</td>
                      <td> المختبرات الطبية</td>
                      <td>2.8</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> </td>
                    <td> بصريات</td>
                    <td>2.9</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> تقنيات الأشعة </td>
                    <td>2.88</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> دكتور صيدلي</td>
                    <td>3.57</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> طب وجراحة</td>
                    <td>4.33</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td>طب وجراحة الفم والأسنان </td>
                    <td>4.03</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> مقر كليات الطلاب-البكيرية </td>
                    <td> إعداد علوم صحية</td>
                    <td>2.01</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> مقر كليات الطلاب-الرس</td>
                    <td> التغذية الإكلينيكية</td>
                    <td>2.09</td>
                </tr>
                <tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> صحة الفم والأسنان</td>
                        <td>2.25</td>
                    </tr>
                    <tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> طب وجراحة الفم والأسنان</td>
                            <td>3.75</td>
                        </tr>
                        <tr>
                    <td> </td>
                    <td> مقر كليات الطلاب-عنيزة</td>
                    <td> العلوم الطبية الأساسية</td>
                    <td>4.19</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> دكتور صيدلة</td>
                    <td>3.3</td>
                </tr>
                <tr>
                    <td> المسار العلمي </td>
                    <td>المقر الرئيس للطلاب</td>
                    <td> العمارة</td>
                    <td>2.11</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> حاسب آلي-غير محدد</td>
                    <td>2.01</td>
                </tr>
                <tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> هندسة-غير محدد</td>
                        <td>2.01</td>
                    </tr>
                    <tr>
                <tr>
                    <td> </td>
                    <td>مقر كليات الطلاب-الرس </td>
                    <td> حاسب آلي-غير محدد </td>
                    <td>2.1</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> مقر كليات الطلاب-عنيزة</td>
                    <td> هندسة-غير محدد</td>
                    <td>2.18</td>
                </tr>
              </table>




              <br><b> نسب القبول للطلاب: </b>
              <table class="table">
                <tr>
                    <th>الكلية</th>
                    <th>نسب القبول</th>
                </tr>
                <tr>
                    <td>الطب والجراحة</td>
                    <td>90.996</td>
                </tr>
                <tr>
                  <td>طب وجراحة الفم والأسنان</td>
                  <td>88.244</td>
              </tr>
                <tr>
                    <td>الصيدلة</td>
                    <td>84.802</td>
                </tr>
                <tr>
                    <td>تقنيات الأشعة</td>
                    <td>81.03</td>
                </tr>
                <tr>
                    <td>البصريات</td>
                    <td>79.468</td>
                </tr>
                <tr>
                    <td>المختبرات الطبية في البكيرية</td>
                    <td>73.884</td>
                </tr>
                <tr>
                  <td>المعلوماتية الصحية في البكيرية</td>
                  <td>65.666</td>
              </tr>
                <tr>
                    <td>الإدارة الصحية في البكيرية</td>
                    <td>69.143</td>
                </tr>
                <tr>
                    <td>طب وجراحة الفم والأسنان في الرس</td>
                    <td>87.622</td>
                </tr>
                <tr>
                  <td> الصحة العامة في الرس</td>
                  <td>69.231</td>
              </tr>
              <tr>
                <td>صحة الفم والأسنان كليات الطلاب</td>
                <td>62.9</td>
            </tr>
            <tr>
              <td>التغذية السريرية في الرس</td>
              <td>71.286</td>
          </tr>
          <tr>
            <td>العلوم الطبية الأساسية</td>
            <td>90</td>
        </tr>
        <tr>
          <td>دكتور صيدلة في عنيزة</td>
          <td>81.926</td>
      </tr>
                <tr>
                    <td>هندسة مركزية</td>
                    <td>74.333</td>
                </tr>
                <tr>
                    <td>حاسب في المقر الرئيس</td>
                    <td>55.44</td>
                </tr>
                <tr>
                    <td>حاسب في الرس</td>
                    <td>70.446</td>
                </tr>
            </table>
            
            <br><b> نسب القبول للطالبات: </b>
              <table class="table">
                <tr>
                    <th>الكلية</th>
                    <th>نسب القبول</th>
                </tr>
                <tr>
                    <td>الطب والجراحة</td>
                    <td>94.143</td>
                </tr>
                <tr>
                  <td>طب الفم والأسنان</td>
                  <td>91.73</td>
              </tr>
                <tr>
                    <td>الصيدلة</td>
                    <td>88.162</td>
                </tr>
                <tr>
                    <td>البصريات</td>
                    <td>89.108</td>
                </tr>
                <tr>
                    <td>المختبرات الطبية المركزية</td>
                    <td>87.07</td>
                </tr>
                <tr>
                  <td>التمريض المركزي</td>
                  <td>76.402</td>
              </tr>
                <tr>
                    <td>مركز كليات البنات</td>
                    <td>87.1</td>
                </tr>
                <tr>
                    <td>العلوم الطبية الأساسية في عنيزة</td>
                    <td>93.006</td>
                </tr>
                <tr>
                  <td>دكتور صيدلي في عنيزة</td>
                  <td>87.986</td>
              </tr>
              <tr>
                <td>حاسب المقر الرئيس</td>
                <td>75.568</td>
            </tr>
            <tr>
              <td>حاسب في الرس</td>
              <td>63.262</td>
          </tr>
          <tr>
            <td>حاسب في عنيزة</td>
            <td>73.082</td>
        </tr>
            </table>
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>