<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة الملك سعود </title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة الملك سعود</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\KSU.webp">
          </div>
          <div class="home-div1">
            <h4>جامعة الملك سعود</h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    جاءت فكرة إنشاء أول جامعة في المملكة العربية السعودية استجابة طبيعية للنهضة التعليمية التي شهدتها المملكة منذ
قيامها، فلقد حرصت الدولة السعودية منذ بداية عهد الملك عبد العزيز طيب الله ثراه على نشر التعليم في ربوع هذه
البلاد، ثم توجت مجهوداته بتولي خادم الحرمين الشريفين الملك فهد بن عبد العزيز عام 1373هـ مسؤولية أول وزارة
للمعارف،وفي ذلك العام وعقب الجلسة الأولى من جلسات مجلس الوزراء، أدلى حفظه الله بحديث قال فيه : "سوف
نشرع قريباً في إنشاء الجامعة السعودية، التي أصبح مفروغاً من أمرها وسوف تكون هذه الجامعة من أقوى دور العلم
والثقافة وستكون شيئا يليق ببلادنا التي شع منها نور الإيمان والحضارة". <br>
وفي كلمة سامية أخرى قال رحمه الله : "ويهمني قبل كل شئ تدعيم التعليم العالي والفني في داخل البلاد حتى يعيد
التاريخ نفسه، ونضيف إلى المجد الكبير مجداً طريفاً، ولذلك فإن مما أعنى به عناية حقة تأسيس الجامعة السعودية
بكلياتها ومعاهدها ومعاملها على نمط حافل مدعم". ولم تمض سوى سنوات ثلاث على إنشاء أول وزارة للمعارف حتى
أعلن خادم الحرمين الشريفين الملك فهد بن عبد العزيز آل سعود – رحمه الله - في تصريح لوسائل الإعلام في عام
1376هـ ما يلي : " إن وزارة المعارف تفكر جديا في إخراج الجامعة السعودية إلى حيز التنفيذ" وبعد ذلك بعام تقريباً، تم
إنشاء أول جامعة في المملكة بصدور المرسوم الملكي الكريم رقم  17في الحادي والعشرين من ربيع الآخر 1377هـ،
وقد بدأت الدراسة في الجامعة بافتتاح كلية الآداب عام 77/1378هـ.
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات:</b>
                <p><b>- الكليات العلمية</b>
                  <br>• كلية العمارة والتخطيط • كلية علوم الحاسب والمعلومات• كلية علوم الأغذية والزراعة• كلية العلوم • كلية الهندسة
                  • كلية إدارة الأعمال
                  
                  <br><b>- كليات المجتمع</b>
                  <br>
                • كلية المجتمع
                • كلية الدراسات التطبيقية وخدمة المجتمع
        
                  <br><b>- الكليات النسائية</b>
                  <br>
                • المدينة الجامعية للطالبات
        
                  <br><b>- الكليات الصحية</b>
                  <br>
                  
                • كلية الأمير سلطان بن عبدالعزيز للخدمات الطبية الطارئة
                • كلية الطب
                • كلية طب الأسنان
                • كلية الصيدلة
                • كلية العلوم الطبية التطبيقية
                • كلية التمريض
                
                <br><b>- الكليات الإنسانية</b>
                <br>
                • كلية الحقوق والعلوم السياسية
                • كلية اللغات والترجمة
                • كلية العلوم الإنسانية والاجتماعية
                • معهد اللغويات العربية
                • كلية علوم الرياضة والنشاط البدني
                • كلية التربية
                • كلية السياحة والآثار

                  <p><b>الأقسام:</b></p>
                   <p><b>الكليات العلمية:  </b>
                  <br> كلية الهندسة: 
                  الهندسة الكهربائية,
                 الهندسة الميكانيكية,
                 الهندسة الكيميائية, 
                الهندسة المدنية, 
                 الهندسة الصناعية,     
                هندسة البترول والغاز الطبيعي.
                
                 <br> كلية العلوم: 
                 الجيولوجيا والجيوفيزياء, 
                 الرياضيات, 
                علم الحيوان, 
                 الكيمياء, 
                 الكيمياء الحيوية, 
                  النبات والأحياءالدقيقة, 
                  الفيزياء والفلك, 
                  الاحصاء وبحوث العمليات. 
            
                   <br> كلية علوم الأغذية والزراعة:
                  الإنتاج النباتي, 
                  الهندسة الزراعية, 
                   الإنتاج الحيواني, 
                  علوم التربة, 
                  وقاية النبات, 
                  الاقتصاد الزراعي, 
                  علوم الأغذية والتغذية, 
                  الإرشاد الزراعي والمجتمع الريفي. 
                
                  <br> كلية علوم الحاسب والمعلومات:
                  علوم الحاسب, 
                 تقنية المعلومات, 
                 نظم المعلومات, 
                 هندسة الحاسب, 
                هندسة البرمجيات. 
                
                <br> كلية العمارة والتخطيط:
                العمارة وعلوم البناء, 
                    التخطيط العمراني. 
                   
                    <br> كلية إدارة الأعمال: 
                    الإدارة العامة, 
                    الإدارة الصحية, 
                    الإدارة, 
                    الاقتصاد, 
                    التسويق, 
                    الإدارة المالية, 
                    المحاسبة, 
                    نظم المعلومات الإدارية, 
                    التحليل الكمي. 
                   </p>
                    <p><b>كليات المجتمع: </b>
                        <br> كلية المجتمع: 
                        علوم الحاسب, 
                        العلوم الإدارية, 
                        العلوم الطبية التطبيقية, 
                        الآداب والتربية, 
                        العلوم الطبيعية. 
                        <br> كلية الدراسات التطبيقية وخدمة المجتمع:  
                        العلوم الإدارية والإنسانية, 
                         علوم الحاسب والهندسة, 
                        العلوم الصحية, 
                        برنامج دراسة مقررات بدون منح درجة علمية. 
                        <p><b>الكليات النسائية:</b> 
                            <br> المدينة الجامعية للطالبات.
                       
                    <p><b>الكليات الصحية: </b>
                    <br> كلية الأمير سلطان بن عبدالعزيز للخدمات الطبية الطارئة: 
                    الخدمات الإسعافية, 
                    العلوم الأساسية, 
                    الإصابات والحوادث, 
                    الإسعاف الجوي والبحري.
                    <br> كلية الطب:
                    الباطنة, 
                    الأشعة, 
                    الأنف والأذن والحنجرة, 
                    التخدير, 
                    التشريح, 
                    التعليم الطبي, 
                    الجراحة, 
                    الطب النفسي, 
                    العناية المركزة, 
                    جراحة العظام.
                    <br> كلية طب الأسنان:
                    جراحة الوجه والفكين, 
                    الفم وعلوم التشخيص, 
                    طب أسنان الأطفال وتقويم الأسنان, 
                    الأنسجة المحيطة بالأسنان وصحة أسنان المجتمع, 
                    الاستعاضة السنية, 
                    علوم إصلاح الأسنان. 
                    <br> كلية الصيدلة: 
                    الكيمياء الصيدلية, 
                    علم الأدوية والسموم, 
                    الصيدلانيات, 
                    العقاقير. 
                    <br> كلية العلوم الطبية التطبيقية: 
                    العلوم الإشعاعية, 
                    البصريات وعلوم الرؤية, 
                    التأهيل الصحي, 
                    التكنولوجيا الطبية الحيوية, 
                    علوم صحة المجتمع, 
                    المختبرات الإكلينيكية, 
                    صحة الأسنان. 
                    <br> كلية التمريض: 
                    إدارة وتعليم التمريض, 
                    التمريض الباطني الجراحي, 
                    صحة المجتمع والصحة النفسية والعقلية, 
                    صحة الأمومة والطفولة. 
                </p>
                <p><b>الكليات الإنسانية: </b>
                    <br> كلية الحقوق والعلوم السياسية: 
                    القانون الخاص, 
                    العلوم السياسية, 
                    القانون العام.
                    <br> كلية اللغات والترجمة:
                    اللغة الإنجليزية والترجمة, 
                    اللسانيات ودراسات الترجمة, 
                    اللغة الفرنسية والترجمة, 
                    اللغات الحديثة والترجمة. 
                    <br> كلية العلوم الإنسانية والاجتماعية: 
                    التاريخ, 
                    اللغة العربية وآدابها, 
                    اللغة الإنجليزية وآدابها, 
                    الدراسات الاجتماعية, 
                    علم المعلومات, 
                    الجغرافيا,
                    الإعلام.
                    <br> معهد اللغويات العربية:
                    اللغة والثقافة, 
                    اللغويات التطبيقية, 
                    تدريب المعلمين, 
                    برنامج المنح المميزة.
                    <br> كلية علوم الرياضة والنشاط البدني: 
                    الإدارة الرياضية والترويحية, 
                    التربية البدنية, 
                    فسيولوجيا الجهد البدني, 
                    الميكانيكا الحيوية والسلوك الحركي.
                    <br> كلية التربية:
                    الدراسات الإسلامية, 
                    الدراسات القرآنية, 
                    المناهج وطرق التدريس, 
                    تقنيات التعليم, 
                    علم النفس, 
                    التربية الفنية, 
                    التربية الخاصة, 
                    الإدارة التربوية, 
                    السياسات التربوية, 
                    الطفولة المبكرة.
                    <br> كلية السياحة والآثار:
                    إدارة موارد التراث والإرشاد السياحي, 
                    الإدارة السياحية والفندقية.
                </p>
              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -:</p>
                <br><b> مسار الكليات العلمية-طلاب:  </b>
                <table class="table" class="t">
                  <tr>
                      <th>  الكلية</th>
                      <th>  القسم</th>
                      <th>  نسب القبول-1443</th>
                  </tr>
                  <tr>
                      <td>الهندسة</td>
                      <td>عام بعد السنة الأولى المشتركة</td>
                      <td> 86.50</td>
                  </tr>
                  <tr>
                    <td> علوم الحاسب والمعلومات</td>
                    <td> هندسة البرمجيات</td>
                    <td> 94.35</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> هندسة الحاسب</td>
                    <td> 90.70</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> نظم المعلومات</td>
                    <td>  92.20</td>
                </tr>
                <tr>
                    <td> العمارة والتخطيط</td>
                    <td> عام بعد السنة الأولى المشتركة</td>
                    <td> 84.45</td>
                </tr>
                <tr>
                    <td> إدارة الأعمال</td>
                    <td>عام بعد السنة الأولى المشتركة </td>
                    <td>84.75</td>
                </tr>
                <tr>
                    <td>العلوم </td>
                    <td> كيمياء</td>
                    <td> 70.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> رياضيات</td>
                    <td> 75.95</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> رياضيات اكتوارية ومالية</td>
                    <td> 86.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> أحياء دقيقة</td>
                    <td>70.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> فيزياء</td>
                    <td>76.80</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> إحصاء</td>
                    <td>83.25</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>بحوث العمليات </td>
                    <td>84.30</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>جيولوجيا </td>
                    <td>70.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> جيوفيزياء</td>
                    <td>70.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> كيمياء حيوية</td>
                    <td>77.25</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>علم الحيوان </td>
                    <td>70.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> نبات</td>
                    <td>70.00</td>
                </tr>
                <tr>
                    <td>علوم الأغذية والزراعة</td>
                    <td> علوم الأغذية والتغذية</td>
                    <td>72.75</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> الإنتاج الحيواني</td>
                    <td>70.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> العلوم في الهندسة الزراعية</td>
                    <td>79.45</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> الاقتصاد التطبيقي</td>
                    <td>75.10</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> علوم الإنتاج النباتي</td>
                    <td>70.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> وقاية النبات</td>
                    <td>70.00</td>
                </tr>
              </table>

              <br><b> مسار الكليات الصحية-طلاب:  </b>
              <table class="table" class="t">
                <tr>
                    <th>  الكلية</th>
                    <th>  القسم</th>
                    <th>  نسب القبول-1443</th>
                </tr>
                <tr>
                    <td>طب الأسنان</td>
                    <td></td>
                    <td>90.95</td>
                </tr>
                <tr>
                  <td> الطب</td>
                  <td> </td>
                  <td> 94.15</td>
              </tr>
              <tr>
                  <td> الصيدلة</td>
                  <td> </td>
                  <td> 81.85</td>
              </tr>
              <tr>
                  <td> العلوم الطبية التطبيقية</td>
                  <td> دكتور بصريات</td>
                  <td> 70.75</td>
              </tr>
              <tr>
                  <td> </td>
                  <td> علوم الأشعة</td>
                  <td> 75.80</td>
              </tr>
              <tr>
                  <td> </td>
                  <td>رعاية الأسنان</td>
                  <td>70.00</td>
              </tr>
              <tr>
                  <td></td>
                  <td> علوم المختبرات الإكلينيكية</td>
                  <td> 70.00</td>
              </tr>
              <tr>
                  <td> </td>
                  <td> علاج علل النطق والسمع</td>
                  <td> 70.00</td>
              </tr>
              <tr>
                  <td> </td>
                  <td>العلاج الطبيعي</td>
                  <td>70.00</td>
              </tr>
              <tr>
                  <td> </td>
                  <td> تقنية طبية حيوية-أجهزة</td>
                  <td>77.60</td>
              </tr>
              <tr>
                  <td> </td>
                  <td>تقنية أسنان</td>
                  <td>70.00</td>
              </tr>
              <tr>
                  <td> </td>
                  <td>علوم صحة المجتمع</td>
                  <td>70.00</td>
              </tr>
              <tr>
                  <td> </td>
                  <td> العلاج التنفسي</td>
                  <td>81.45</td>
              </tr>
              <tr>
                  <td> </td>
                  <td> العلاج الوظيفي</td>
                  <td>70.20</td>
              </tr>
              <tr>
                  <td> الخدمات الطبية الطارئة</td>
                  <td></td>
                  <td>70.00</td>
              </tr>
            </table>

            <br><b> مسار الكليات الإنسانية-طلاب:  </b>
            <table class="table" class="t">
              <tr>
                  <th>  الكلية</th>
                  <th>  القسم</th>
                  <th> معدل القبول-1444</th>
              </tr>
              <tr>
                  <td>العلوم الإنسانية والاجتماعية</td>
                  <td>اللغة العربية</td>
                  <td> 3.00</td>
              </tr>
              <tr>
                <td> </td>
                <td> علم المعلومات</td>
                <td> 3.56</td>
            </tr>
            <tr>
                <td> </td>
                <td> اللغة الإنجليزية</td>
                <td> 3.00</td>
            </tr>
            <tr>
                <td> </td>
                <td> الجغرافيا</td>
                <td> 3.00</td>
            </tr>
            <tr>
                <td> </td>
                <td> الإعلام</td>
                <td> 4.06</td>
            </tr>
            <tr>
                <td> </td>
                <td>التاريخ</td>
                <td>3.00</td>
            </tr>
            <tr>
                <td></td>
                <td>الدراسات الاجتماعية</td>
                <td> 3.13</td>
            </tr>
            <tr>
                <td> </td>
                <td> علم الاجتماع</td>
                <td> 3.10</td>
            </tr>
            <tr>
                <td> التربية</td>
                <td> أخصائي نفسي</td>
                <td> 3.63</td>
            </tr>
            <tr>
                <td> </td>
                <td> دراسات إسلامية</td>
                <td>3.00</td>
            </tr>
            <tr>
                <td> </td>
                <td> دراسات قرآنية</td>
                <td>3.00</td>
            </tr>
            <tr>
                <td> الحقوق والعلوم السياسية</td>
                <td> الحقوق</td>
                <td>4.63</td>
            </tr>
            <tr>
                <td> </td>
                <td>العلوم السياسية</td>
                <td>4.38</td>
            </tr>
            <tr>
                <td> اللغات والترجمة</td>
                <td>اللغة الإنجليزية</td>
                <td>3.63</td>
            </tr>
            <tr>
                <td> </td>
                <td> اللغة الفرنسية</td>
                <td>3.00</td>
            </tr>
            <tr>
                <td> </td>
                <td> اللغة الصينية</td>
                <td>3.00</td>
            </tr>
            <tr>
                <td> </td>
                <td>اللغة الأسبانية</td>
                <td>3.00</td>
            </tr>
            <tr>
                <td> السياحة والآثار</td>
                <td> الآثار</td>
                <td>3.69</td>
            </tr>
            <tr>
                <td></td>
                <td>إدارة موارد التراث</td>
                <td>3.88</td>
            </tr>
            <tr>
                <td> </td>
                <td>الإدارة السياحية والفندقية</td>
                <td>4.00</td>
            </tr>
            <tr>
                <td>علوم الرياضة والنشاط البدني </td>
                <td> عام بعد السنة الأولى المشتركة</td>
                <td>3.00</td>
            </tr>
          </table>
                
          <br><b> مسار الكليات الصحية-طالبات: </b>
          <table class="table" class="t">
            <tr>
                <th>  الكلية</th>
                <th>  القسم</th>
                <th>  نسب القبول-1442</th>
            </tr>
            <tr>
                <td>طب الأسنان</td>
                <td></td>
                <td>94.80</td>
            </tr>
            <tr>
              <td> الطب</td>
              <td> </td>
              <td> 97.00</td>
          </tr>
          <tr>
              <td> الصيدلة</td>
              <td> </td>
              <td> 81.10</td>
          </tr>
          <tr>
              <td> العلوم الطبية التطبيقية</td>
              <td> دكتور بصريات</td>
              <td> 80.80</td>
          </tr>
          <tr>
              <td> </td>
              <td> علوم الأشعة</td>
              <td> 85.35</td>
          </tr>
          <tr>
              <td> </td>
              <td>رعاية الأسنان</td>
              <td>72.75</td>
          </tr>
          <tr>
              <td></td>
              <td> علوم المختبرات الإكلينيكية</td>
              <td> 80.85</td>
          </tr>
          <tr>
              <td> </td>
              <td> علاج علل النطق والسمع</td>
              <td> 80.50</td>
          </tr>
          <tr>
              <td> </td>
              <td>العلاج الطبيعي</td>
              <td>78.80</td>
          </tr>
          <tr>
              <td> </td>
              <td>التغذية السريرية</td>
              <td>75.15</td>
          </tr>
          <tr>
          <tr>
              <td> </td>
              <td>علوم صحة المجتمع</td>
              <td>70.00</td>
          </tr>
          <tr>
              <td> </td>
              <td> العلاج الوظيفي</td>
              <td>78.75</td>
          </tr>
          <tr>
              <td></td>
              <td>تقنية طبية حيوية</td>
              <td>91.30</td>
          </tr>
        </table>
          
        <br><b> مسار الكليات الإنسانية-طالبات: </b>
        <table class="table" class="t">
          <tr>
              <th>  الكلية</th>
              <th>  القسم</th>
              <th> معدل القبول-1444</th>
          </tr>
        <tr>
            <td> </td>
            <td> اللغة الإنجليزية</td>
            <td> 3.00</td>
        </tr>
        <tr>
            <td></td>
            <td>الخدمة الاجتماعية</td>
            <td> 3.00</td>
        </tr>
        <tr>
            <td> </td>
            <td> علم الاجتماع</td>
            <td> 3.00</td>
        </tr>
        <tr>
            <td> </td>
            <td> إعلام</td>
            <td> 4.06</td>
        </tr>
        <tr>
            <td> التربية</td>
            <td> علم النفس</td>
            <td> 3.88</td>
        </tr>
        <tr>
            <td> </td>
            <td> تعليم ماقبل المرحلة الابتدائية</td>
            <td> 3.00</td>
        </tr>
        <tr>
            <td> </td>
            <td> دراسات إسلامية</td>
            <td>3.00</td>
        </tr>
        <tr>
            <td> </td>
            <td> دراسات قرآنية</td>
            <td>3.00</td>
        </tr>
        <tr>
            <td> الحقوق والعلوم السياسية</td>
            <td> الحقوق</td>
            <td>4.63</td>
        </tr>
        <tr>
            <td> </td>
            <td>العلوم السياسية</td>
            <td>4.56</td>
        </tr>
        <tr>
            <td> اللغات والترجمة</td>
            <td>اللغة الإنجليزية</td>
            <td>3.80</td>
        </tr>
        <tr>
            <td> </td>
            <td> اللغة الفرنسية</td>
            <td>3.00</td>
        </tr>
        <tr>
            <td> </td>
            <td> اللغة الصينية والترجمة</td>
            <td>3.00</td>
        </tr>
        <tr>
            <td> السياحة والآثار</td>
            <td> الآثار</td>
            <td>3.00</td>
        </tr>
        <tr>
            <td></td>
            <td>إدارة موارد التراث والإرشاد</td>
            <td>3.38</td>
        </tr>
        <tr>
            <td> </td>
            <td>الإدارة السياحية والفندقية</td>
            <td>3.31</td>
        </tr>
        <tr>
            <td>علوم الرياضة والنشاط البدني </td>
            <td> علوم الرياضة والنشاط البدني</td>
            <td>3.00</td>
        </tr>
      </table>
      <br><b> مسار الكليات العلمية-طالبات: </b>
                <table class="table" class="t">
                  <tr>
                      <th>  الكلية</th>
                      <th>  القسم</th>
                      <th>  نسب القبول-1443</th>
                  </tr>
                  <tr>
                    <td> علوم الحاسب والمعلومات</td>
                    <td> هندسة البرمجيات</td>
                    <td> 95.75</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> نظم المعلومات</td>
                    <td>  93.05</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> تقنية المعلومات</td>
                    <td>  94.60</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> علوم الحاسب</td>
                    <td>  93.70</td>
                </tr>
                <tr>
                    <td> العمارة والتخطيط</td>
                    <td> عمارة وعلوم البناء</td>
                    <td> 95.05</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> التخطيط العمراني</td>
                    <td>  93.50</td>
                </tr>
                <tr>
                    <td> إدارة الأعمال</td>
                    <td>عام بعد السنة الأولى المشتركة   </td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>العلوم </td>
                    <td> كيمياء</td>
                    <td> 70.00</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> كيمياء حيوية</td>
                    <td>  82.75</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> رياضيات</td>
                    <td>89.85</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> رياضيات اكتوارية ومالية</td>
                    <td> 92.85</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> أحياء دقيقة</td>
                    <td>83.20</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> فيزياء</td>
                    <td>81.25</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> نبات</td>
                    <td>88.85</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> إحصاء</td>
                    <td>91.35</td>
                </tr>
                
              </table>
              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>