<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>جامعة تبوك</title>
    <div class="image">
      <div class="logo">
        <a href="index.html"><img src="static\logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">الرئيسية</a></li>
          <li><a class="active" href="universities.html">الجامعات</a></li>
          <li><a href="gpa.html">حساب المعدل</a></li>
          <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
        </ul>
      </nav>
      <h1 id="title">جامعة تبوك</h1>
    </div>
  </head>

    <body>
        <hr class="home-hr"/>
        <div style="float:right; margin-right: 6%;">
            <img style="border-radius: 20px; width: 200px;" src="static\tabuk.jpg">
          </div>
          <div class="home-div1">
            <h4>جامعة تبوك   </h4>
            
              <button type="button" class="collapsible">- نبذة مختصرة </button>
              <div class="content">
                <p>
                    يمثل إنشاء جامعة تبوك عام 1427 هـ 2006 م، تعبيرا صريحا للرؤية الثاقبة لخادم الحرمين الشريفين الملك عبد الله بن عبد العزيز يرحمه الله 
                    في نشر التعليم العالي في جميع مناطق المملكة
                    ويوجد حاليا في الجامعة أكثر من (1659 عضو هيئة تدريس، يمثل الإناث 40% منهم، ويزيد عدد الطلاب على 36000) طالب وطالبة.
                    وتسعى الجامعة لأن تكون منارة في مجالات التعليم والتطوير. أما الحرم الجامعي الرئيس للجامعة فيقع في مدينة تبوك بمنطقة تبوك والتي تقع في الشمال الغربي من المملكة. 
                    وانطلاقا من التزام الجامعة في خدمة أبناء المنطقة، فقد قامت الجامعة بإنشاء العديد من الفروع في جميع محافظات المنطقة.
                </p>
              </div>
              <button type="button" class="collapsible">- الكليات والأقسام</button>
              <div class="content">
                <b>الكليات والأقسام:</b>
                <br />
                <b>كلية الطب:</b>
                  <br>
                  قسم النساء والولادة<br />
                  قسم الجراحة العامة<br />
                  قسم الكيمياء الحيوية السريرية<br />
                  قسم طب الباطنة <br />
                  قسم الكائنات الطبية الدقيقة <br />
                  قسم علم وظائف الأعضاء<br />
                  قسم علم الامراض<br />
                  قسم التشريح<br />
                  قسم طب الاسرة والمجتمع<br />
                  قسم طب الأطفال <br />
                  قسم علم الادوية<br />

                  <br /><b>كلية إدارة الأعمال:</b><br />
                  قسم التمويل والاستثمار<br />
                  قسم الإدارة<br />
                  قسم المحاسبة<br />
                  قسم التسويق<br />
                  قسم نظم المعلومات<br />

                 <br /> <b>كلية العلوم الطبية والتطبيقية:</b> <br />
                 قسم العلاج الطبيعي<br />
                  قسم التمريض<br />
                  تقنية المختبرات الطبية<br />

                  <br><b>كلية الهندسة:</b><br />
                  قسم الهندسة المدنية<br />
                  قسم الهندسة الكهربائية<br />
                  قسم الهندسة الميكانيكية<br />
                  قسم الهندسة الصناعية<br />

                  <br /><b>كلية التربية والآداب:</b><br />
                  قسم تقنيات التعليم<br />
                  قسم المناهج وطرق التدريس <br />
                  قسم الإدارة والتخطيط التربوي<br />
                  قسم التربية الخاصة<br />
                  قسم التربية وعلم النفس<br />
                  قسم اللغات والترجمة<br />
                  قسم اللغة العربية<br />
     
                  <br> <b>الكلية التطبيقية:</b> <br />
                  برنامج إدارة المخاطر والتأمين<br />
                  برنامج الموارد البشرية<br />
                  برنامج إدارة الخدمات الصحية <br />
                  برنامج إدارة أنظمة الشبكات <br />
                  برنامج البرمجة وعلوم الحاسب <br />

                  <br /><b>كلية التصاميم والفنون: </b><br />
                  قسم التصميم الداخلي<br />
                  قسم تصميم الأزياء والمنسوجات<br />
                  قسم تصميم الجرافيك<br />
                  قسم المونتاج الرقمي<br />

                 <br> <b>كلية الصيدلة:</b> <br />
                  قسم الصيدلانيات<br />
                  قسم علم الأدوية والسموم<br />
                  قسم النواتج الطبيعية والطب البديل<br />
                  قسم الكيمياء الصيدلية<br />
                  قسم الممارسة الصيدلية<br />
 
                  <br><b>كلية الشريعة والأنظمة:</b><br />
                  قسم الشريعة<br />
                  قسم الأنظمة<br />

                  <br><b>كلية العلوم:</b><br />
                  قسم الإحصاء<br />
                  قسم الرياضيات<br />
                  قسم الفيزياء<br />
                  قسم الكيمياء<br />
                  قسم الاحياء<br />
                  قسم الكيمياء الحيوية<br />

                  <br /><b>كلية الحاسبات وتقنية المعلومات:</b><br />
                  قسم علوم الحاسب <br />
                  قسم تقنية المعلومات <br />
                  قسم هندسة الحاسب<br />

                  <br /> <b>الكلية الجامعية بتيماء:</b><br />
                  قسم الإدارة<br />
                  قسم علوم الحاسب<br />
                  قسم الدراسات الإسلامية<br />
                  قسم اللغات والترجمة<br />
                  قسم الرياضيات<br />
                  قسم الاحياء<br />
                  <br /><b>الكلية الجامعية بحقل:</b><br />
                  قسم نظم المعلومات الإدارية <br />
                  قسم اللغة الإنجليزية<br />
                  قسم علوم الحاسب<br />
                  قسم الاحياء<br />
                  قسم الدراسات الإسلامية<br />
                  قسم الرياضيات<br />

                  <br /><b>الكلية الجامعية بالوجه:</b><br />
                  قسم اللغات والترجمة<br />
                  قسم الرياضيات<br />
                  قسم الكيمياء<br />
                  قسم علوم الحاسب<br />
                  قسم نظم المعلومات الإدارية<br />
                  قسم اللغة العربية<br />

                  <br /><b>الكلية الجامعية بضباء:</b><br />
                  قسم اللغات والترجمة<br />
                  قسم المحاسبة<br />
                  قسم علوم الحاسب<br />
                  قسم التسويق<br />
                  قسم تقنية المختبرات الطبية<br />

                  <br /><b>الكلية الجامعية بأملج:</b><br />
                  قسم اللغة العربية<br />
                  قسم الاحياء<br />
                  قسم الدراسات الإسلامية<br />
                  قسم التمريض العام<br />
                  قسم علوم الحاسب<br />
                  قسم الرياضيات<br />
                  قسم اللغات والترجمة<br />

                  <br /><b>كلية السياحة والضيافة</b><br />
                  قسم السياحة والضيافة
                  <br />

              </div>
          
              <button type="button" class="collapsible">- نسب القبول</button>
              <div class="content">
                <p>نتائج ونسب القبول -1444هـ-:</p>
                <table class="table">
                  <tr>
                      <td>المسار</td>
                      <td>نسب القبول</td>
                  </tr>
                  <tr>
                      <td>كلية الطب والجراحة</td>
                      <td>94.9</td>
                  </tr>
                  <tr>
                      <td>كلية الصيدلة</td>
                      <td>91.13</td>
                  </tr>
                  <tr>
                      <td>هندسة الحاسب</td>
                      <td>87.74</td>
                  </tr>
                  <tr>
                      <td>كلية لغات وترجمة</td>
                      <td>87.43</td>
                  </tr>
                  <tr>
                      <td>التمريض</td>
                      <td>87.11</td>
                  </tr>
                  <tr>
                      <td>كلية العلاج الطبيعي</td>
                      <td>86.68</td>
                  </tr>
                  <tr>
                      <td>تقنية مختبرات</td>
                      <td>85.02</td>
                  </tr>
                  <tr>
                      <td>كلية الهندسة</td>
                      <td>81.5</td>
                  </tr>
                  <tr>
                      <td>تخصص الادارة</td>
                      <td>81.12</td>
                  </tr>
                  <tr>
                      <td>تخصص الشريعة</td>
                      <td>77.92</td>
                  </tr>
                  <tr>
                    <td>تخصص التسويق</td>
                    <td>76.34</td>
                  </tr>
                  <tr>
                    <td>تخصص الدراسات الاسلامية</td>
                    <td>73.96</td>
                  </tr>
                  <tr>
                    <td>تخصص اللغة العربية</td>
                    <td>72.64</td>
                  </tr>
                  <tr>
                    <td>تخصص تقنية المعلومات</td>
                    <td>72.38</td>
                  </tr>
                  <tr>
                    <td>تخصص علوم الحاسب</td>
                    <td>71.98</td>
                  </tr>
                  <tr>
                    <td>تخصص نظم معلومات إدارية</td>
                    <td>70.74</td>
                  </tr>
                  <tr>
                    <td>تخصص تمويل واستثمار</td>
                    <td>70.45</td>
                  </tr>
                  <tr>
                    <td>تخصص محاسبة</td>
                    <td>70.39</td>
                  </tr>
                  <tr>
                    <td>تخصص إدارة الموارد البشرية</td>
                    <td>69.26</td>
                  </tr>
              </table>

              <br><b> نسب القبول في الكليات الجامعية للمحافظات</b>
              <table class="table">
                <tr>
                    <td>المسارات</td>
                    <td>نسب القبول</td>
                </tr>
                <tr>
                    <td><b>الكلية الجامعية بتيماء</b></td>
                </tr>
                <tr>
                  <td>علوم حاسب</td>
                  <td>63.57</td>
                </tr>
                <tr>
                  <td>إدارة اعمال مسار الادارة</td>
                  <td>72.54</td>
                </tr>
                <tr>
                    <td>الدراسات الاسلامية</td>
                    <td>63.73</td>
                </tr>
                <tr>
                    <td> <b>الكلية الجامعية بالوجه </b></td>
                </tr>
                <tr>
                  <td>علوم الحاسب</td>
                  <td>60.14</td>
                </tr>
                <tr>
                    <td>نظم المعلومات الادارية</td>
                    <td>60.57</td>
                </tr>
                <tr>
                    <td>اللغة العربية</td>
                    <td>61.2</td>
                </tr>
                <tr>
                  <td>اللغات والترجمة (انجليزي)</td>
                  <td>60.5</td>
                </tr>
                <tr>
                    <td><b>الكلية الجامعية بأملج</b></td>
                </tr>
                <tr>
                  <td>التمريض</td>
                  <td>80.65</td>
                </tr>
                <tr>
                    <td>علوم الحاسب</td>
                    <td>73.58</td>
                </tr>
                <tr>
                  <td>الرياضيات</td>
                  <td>68.79</td>
                </tr>
                <tr>
                  <td>اللغة العربية</td>
                  <td>68.31</td>
                </tr>
                <tr>
                  <td>اللغات والترجمة (انجليزي)</td>
                  <td>67.73</td>
               </tr>
               <tr>
                <td>الدراسات الاسلامية  </td>
                <td>68.9</td>
                </tr>
                <tr>
                  <td><b>الكلية الجامعية بحقل</b></td>
                </tr>
                <tr>
                  <td>نظم المعلومات الإدارية</td>
                  <td>63.79</td>
                </tr>
                <tr>
                    <td>علوم الحاسب</td>
                    <td>60.31</td>
                </tr>
                <tr>
                  <td>الدراسات الاسلامية</td>
                  <td>61.57</td>
                </tr>
                <tr>
                  <td><b> الكلية الجامعية بضباء</b></td>
                </tr>
                <tr>
                  <td>علوم الحاسب</td>
                  <td>65.88</td>
                </tr>
                <tr>
                  <td>اللغات والترجمة (انجليزي)</td>
                  <td>60.49</td>
                </tr>
                <tr>
                  <td>التسويق </td>
                  <td>60.29</td>
                </tr>
            </table>

              </div>
          <script src="web.js"></script>
            </div>
          <hr class="home-hr" />
    </body> 
</html>