<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>الجامعات </title>
  <div class="image">
    <div class="logo">
      <a href="index.html"><img src="static\logo.svg"></a>
    </div>
    <nav>
      <ul>
        <li><a href="index.html">الرئيسية</a></li>
        <li><a class="active" href="universities.html">الجامعات</a></li>
        <li><a href="gpa.html">حساب المعدل</a></li>
        <li style="margin-right: 25%;"><a href="about.html">حول</a></li>
      </ul>
    </nav>
    <h1 id="title">الجامعات السعودية <br />الحكومية</h1>
  </div>
</head>

<body alink="none" link="none" vlink="none">
  <hr class="home-hr" />
  <center id="university" style="margin-top: 20px;">
    <div class="search-box">
      <form class="search-form">
        <button id="search-button" class="search">🔎</button>
        <input id="searchBar" class="searchBar" onkeyup="search()" type="text" placeholder="البحث باسم الجامعة" style="padding: 0.5%; font-size: 15px; font-family:  'El Messiri', sans-serif; border: none; background-color: rgba(168, 166, 166, 0.3); border-radius: 5px 0 0 5px; width: 40%;" >
      </form>
    </div>
    <a href="Dammam.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\east.webp" alt="Norway" style="width:20%; height: 20%;" align="left">
        <div class="container">
          <b>
            <p> الامام عبد الرحمن بن فيصل</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>انطلقت الجامعة باسمها الجديد (جامعة الإمام عبدالرحمن بن فيصل) حاملة إرثا أكاديميا وبحثيا يمتد إلى أربعة
            عقود؛ حيث استقبلت بعض كلياتها أول دفع من طلابها عام 1395 هـ (1975م) عند بداية مسيرة الجامعة. </p>
        </div>
      </div>
    </a>

    <a href="Medena.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\uni-logo.webp" alt="Norway" style="width:20%; height: 20%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p"> الجامعة الإسلامية بالمدينة المنورة</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>
            الجامعة الإسلامية مؤسسة تعليمية عالية، تعنى بالتعليم والبحث العلمي في العلوم الشرعية والعربية وسائر العلوم ، بمعايير وتقنيات عالمية ، ومخرجات عالية الجودة،
             ونشر رسالة الإسلام الخالدة من المدينة لخدمة المجتمع المحلي والعالمي .
             </p>
        </div>
      </div>
    </a>

    <a href="Qassim.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\القصيم.webp" alt="Norway" style="width:25%; height: 25%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p"> جامعة القصيم</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>جامعة القصيم هي إحدى الجامعات الحكومية الشاملة. وتشتمل على 71 تخصصاً علمياً في المجالات المختلفة، 
            الشرعية والعربية والإنسانية إضافة إلى التخصصات العلمية والهندسية والصحية. وتقدم العديد من الدرجات العلمية  </p>
        </div>
      </div>
    </a>

    <a href="Riyadh.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\KSU.webp" alt="Norway" style="width:20%; height: 20%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة الملك سعود</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>جامعة الملك سعود جامعة سعودية حكومية مستقلة تقع في مدينة الرياض. وتعتبر ثاني جامعة تأسست في المملكة .هي ثاني أكبر جامعة بالعالم من حيث المساحة
             وقد خصصت لهذه الجامعة ما يعادل 1% من ميزانية الدولة سنويا.</p>
        </div>
      </div>
    </a>

    <a href="makkah.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\alq.webp" alt="Norway" style="width:30%; height: 30%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة أم القرى</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>هي أولى المؤسسات التعليمية الجامعية إنشاءً في البلاد. برزت جامعة أم القرى، كمؤسسة أكاديمية ذات سمعة علمية كبيرة في علوم الشريعة والتربية والدراسات الإسلامية، علاوة على التخصصات العلمية والتطبيقية الحديثة. </p>
        </div>
      </div>
    </a>

    <a href="najran.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\نجران.webp" alt="Norway" style="width:20%; height: 20%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة نجران</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>تسعى جامعة نجران إلى الارتقاء بالبرامج الأكاديمية إلى المستوى العالمي، وتزويد الطالب والطالبات بكفاءات عالية تلائم المستقبل، ورفع كفاءة أعضاء هيئة التدريس، واستخدام أحدث التقنيات، وموافقة مصادر التعلم للمعايير القياسية.</p>
        </div>
      </div>
    </a>

    <a href="jazan.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\jazanu_logo_1.webp" alt="Norway" style="width:20%; height: 20%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة جازان</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>جامعة سعودية حكومية تسعى إلى تحقيق التميز الأكاديمي، وإعداد الخريجين ليكونوا قادة على كافة الأصعدة، كما تولي خدمة المجتمع 
            اهتما ما بالتصدي للمشاكل التي تواجهه، إضافة إلى دعم التنمية الاقتصادية والاجتماعية.</p>
        </div>
      </div>
    </a>

    <a href="albaha.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\baha.webp" alt="Norway" style="width:20%; height: 20%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة الباحة</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>جامعة حكومية سعودية تسعى إلى التميز والإبداع في مجال التعليم الجامعي والبحث العلمي وخدمة المجتمع، وتلتزم بتوفير فرص التعليم العالي، وتهيئة المكان والمناخ المناسبين لتنمية قدرات الطالب، وتوفير تعليم وبحث علمي مميز.</p>
        </div>
      </div>
    </a>

    <a href="jouf.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\الجوف.webp" alt="Norway" style="width:25%; height: 25%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة الجوف</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>حققت جامعة الجوف، عددا من المنجزات والنجاحات منذ إنشائها في أواسط العام 1426هـ ولم تتوقف مسيرة نمائها في مختلف 
            المجالات الإدارية والأكاديمية والتعليمية والمشاريع الإنشائية في المدينة الجامعية</p>
        </div>
      </div>
    </a>

    <a href="tabuk.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\تبوك.webp" alt="Norway" style="width:30%; height: 30%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة تبوك</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>تسعى الجامعة لأن تكون منارة في مجالات التعليم والتطوير. يقع الحرم الجامعي الرئيس للجامعة في مدينة تبوك، وانطلاقا من التزام الجامعة في خدمة أبناء المنطقة فقد قامت الجامعة بإنشاء العديد من الفروع في جميع المحافظات </p>
        </div>
      </div>
    </a>

    <a href="aseer.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\خالد.webp" alt="Norway" style="width:30%; height: 30%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة الملك خالد</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>جامعة الملك خالد جامعة حكومية مقرها في مدينة أبها جنوب غربي المملكة العربية السعودية، تأسست عام 1419هـ، خلال زيارة خادم الحرمين الشريفين الملك عبد الله بن عبد العزيز حينما كان ولياً للعهد، وذلك في يوم الثلاثاء 9/1/1419 هـ.</p>
        </div>
      </div>
    </a>

    <a href="hail.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\حائل.webp" alt="Norway" style="width:25%; height: 25%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة حائل</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>هي واحدة من أسرع المؤسسات الأكاديمية نموًا في المملكة، حيث تلتقي مجموعات من الموهوبين لتبادل المعرفة وتطوير مستقبل أفضل تتمثل رؤية في الحفاظ على بيئة أكاديمية وإدارية وبحثية متطورة ممزوجة.</p>
        </div>
      </div>
    </a>

    <a href="north.html" target="_self" class="univ"> <!-- Page link -->
      <div class="polaroid">
        <img src="static\nbulogo.webp" alt="Norway" style="width:25%; height: 25%;" align="left">
        <div class="container">
          <b>
            <p class="univ-p">جامعة الحدود الشمالية</p>
          </b>
          <hr color="black" width="70%" align="right" />
          <p>جامعة شاملة تخدم الأهداف المحلية للمنطقة, مع الالتزام بتحقيق التميز التعليمي .تقدم برامج تعليمية مبتكرة تتسم بمخرجاتها التي تزيد من فعالية الموارد البشرية , والاقتصادية، والثقافية , والطبيعية للمنطقة و خارجها .</p>
        </div>
      </div>
    </a>
  </center>
  <script src="web.js"></script>
</body>

</html>